@import "compass/reset";

@import "compass/css3/transform";

@import "modules/box";

body {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7em;
  background-color: black;
  color: white;
}

.letter-container {
  margin: 0 auto;
  width: 4em;
  margin-bottom: 0.5em;

  .front-view,
  .isometric-view {
    margin-top: -0.5em;
    @include transform-style(preserve-3d);
  }

  .isometric-view {
    @include transform(rotateX(-30deg) rotateY(-30deg));
    @include transform-origin(0 0 0);
    margin-left: 4em;
  }

  .front-view {
    margin-left: 2.25em;
  }

  &:first-of-type {
    margin-top: 0.5em;
  }
}

.face {
  position: absolute;
}

.top    { background-color: rgba(255, 255, 255, 0.75); }
.front  { background-color: rgba(224, 224, 224, 0.75); }
.right  { background-color: rgba(192, 192, 192, 0.75); }
.back   { background-color: rgba(160, 160, 160, 0.75); }
.left   { background-color: rgba(128, 128, 128, 0.75); }
.bottom { background-color: rgba( 96,  96,  96, 0.75); }


.A {
  .left-stroke,
  .right-stroke {
    @include box(10px, 70px, 10px);
  }

  .crossbar {
    @include box(30px, 10px, 10px);
    @include transform(translateY(10px));
  }

  .left-stroke {
    @include transform(translateX(-13px) skewX(-20deg));
  }

  .right-stroke {
    @include transform(translateX(13px) skewX(20deg));
  }
}

.B {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-20px));
  }

  .top-stroke {
    @include box(20px, 10px, 10px);
    @include transform(translate3d(-5px, -35px, 0));
  }

  .middle-stroke,
  .bottom-stroke {
    @include box(30px, 10px, 10px);
  }

  .bottom-stroke {
    @include transform(translate3d(0, 35px, 0));
  }

  .top-vertical-stroke,
  .bottom-vertical-stroke {
    @include box(10px, 25px, 10px);
  }

  .top-vertical-stroke {
    @include transform(translate3d(10px, -17px, 0));
  }

  .bottom-vertical-stroke {
    @include transform(translate3d(20px, 17px, 0));
  }
}

.C {
  .vertical-stroke {
    @include box(10px, 60px, 10px);
    @include transform(translateX(-25px));
  }

  .top-stroke,
  .bottom-stroke {
    @include box(40px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .bottom-stroke {
    @include transform(translateY(35px));
  }
}

.D {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-20px));
  }

  .top-stroke,
  .bottom-stroke {
    @include box(40px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translate3d(5px, -35px, 0));
  }

  .bottom-stroke {
    @include transform(translate3d(5px, 35px, 0));
  }

  .right-stroke {
    @include box(10px, 60px, 10px);
    @include transform(translateX(30px));
  }
}

.E {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-20px));
  }

  .top-stroke,
  .middle-stroke,
  .bottom-stroke {
    @include box(30px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .middle-stroke {
    @include transform(translateY(-5px));
  }

  .bottom-stroke {
    @include transform(translateY(35px));
  }
}

.F {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-20px));
  }

  .top-stroke,
  .middle-stroke {
    @include box(30px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .middle-stroke {
    @include transform(translateY(-5px));
  }
}

.G {
  .vertical-stroke {
    @include box(10px, 60px, 10px);
    @include transform(translateX(-25px));
  }

  .top-stroke,
  .bottom-stroke {
    @include box(40px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .bottom-stroke {
    @include transform(translateY(35px));
  }

  .small-vertical-stroke {
    @include box(10px, 25px, 10px);
    @include transform(translate3d(25px, 18px, 0));
  }

  .chin {
    @include box(25px, 10px, 10px);
    @include transform(translate3d(17px, 2px, 0));
  }
}

.H {
  .left-stroke,
  .right-stroke {
    @include box(10px, 70px, 10px);
  }

  .left-stroke {
    @include transform(translateX(-20px));
  }

  .right-stroke {
    @include transform(translateX(20px));
  }

  .crossbar {
    @include box(30px, 10px, 10px);
  }
}

.I {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
  }
}

.J {
  .vertical-stroke {
    @include box(10px, 70px, 10px);
    @include transform(translate3d(10px, -10px, 0));
  }

  .right-curl {
    @include box(10px, 15px, 10px);
    @include transform(translate3d(3px, 32px, 0)  skewX(-45deg));
  }

  .left-curl {
    @include box(10px, 15px, 10px);
    @include transform(translate3d(-12px, 32px, 0) skewX(45deg));
  }
}

.K {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-30px));
  }

  .top-stroke,
  .bottom-stroke {
    @include box(15px, 40px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-20px) skewX(-45deg));
  }

  .bottom-stroke {
    @include transform(translateY(20px) skewX(45deg));
  }
}

.L {
  .vertical-stroke {
    @include box(10px, 80px, 10px);
    @include transform(translateX(-20px));
  }

  .bottom-stroke {
    @include box(30px, 10px, 10px);
    @include transform(translateY(35px));
  }
}

.M {
  .left-outer-stroke,
  .left-inner-stroke,
  .right-inner-stroke,
  .right-outer-stroke {
    @include box(15px, 80px, 10px);
  }

  .left-outer-stroke {
    @include transform(translateX(-30px) skewX(-10deg));
  }

  .left-inner-stroke {
    @include transform(translateX(-12px) skewX(15deg));
  }

  .right-inner-stroke {
    @include transform(translateX(12px) skewX(-15deg));
  }

  .right-outer-stroke {
    @include transform(translateX(30px) skewX(10deg));
  }
}

.N {
  .left-stroke,
  .right-stroke {
    @include box(10px, 70px, 10px);
  }

  .left-stroke {
    @include transform(translateX(-20px));
  }

  .right-stroke {
    @include transform(translateX(20px));
  }

  .diagonal {
    @include box(30px, 18px, 10px);
    @include transform(skewY(60deg));
    @include transform-origin(0 0 0);
  }
}

.O {
  .left-stroke,
  .right-stroke {
    @include box(10px, 60px, 10px);
  }

  .top-stroke,
  .bottom-stroke {
    @include box(30px, 10px, 10px);
  }

  .left-stroke {
    @include transform(translateX(-20px));
  }

  .right-stroke {
    @include transform(translateX(20px));
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .bottom-stroke {
    @include transform(translateY(35px));
  }
}

.T {
  .horizontal-stroke {
    @include box(50px, 10px, 10px);
    @include transform(translateY(-40px));
  }

  .vertical-stroke {
    @include box(10px, 70px, 10px);
  }
}

.U {
  .left-stroke,
  .right-stroke {
    @include box(10px, 70px, 10px);
  }

  .left-stroke {
    @include transform(translateX(-25px));
  }

  .right-stroke {
    @include transform(translateX(25px));
  }

  .bottom-stroke {
    @include box(40px, 10px, 10px);
    @include transform(translateY(40px));
  }
}

.V {
  .left-stroke,
  .right-stroke {
    @include box(10px, 80px, 10px);
  }

  .left-stroke {
    @include transform(translateX(-15px) skewX(20deg));
  }

  .right-stroke {
    @include transform(translateX(15px) skewX(-20deg));
  }
}

.X {
  .back-stroke,
  .forward-stroke {
    @include box(10px, 70px, 10px);
  }

  .back-stroke {
    @include transform(skewX(30deg));
  }

  .forward-stroke {
    @include transform(skewX(-30deg));
  }
}

.Y {
  .left-stroke,
  .right-stroke,
  .vertical-stroke {
    @include box(12px, 40px, 10px);
  }

  .left-stroke {
    @include transform(translate3d(-12px, -20px, 0) skewX(30deg));
  }

  .right-stroke {
    @include transform(translate3d(12px, -20px, 0) skewX(-30deg));
  }

  .vertical-stroke {
    @include transform(translateY(20px));
  }
}

.Z {
  .top-stroke,
  .bottom-stroke {
    @include box(50px, 10px, 10px);
  }

  .top-stroke {
    @include transform(translateY(-35px));
  }

  .bottom-stroke {
    @include transform(translateY(35px));
  }

  .diagonal {
    @include box(15px, 60px, 10px);
    @include transform(skewX(-30deg));
    @include transform-origin(0 0 0);
  }
}
