@import "compass/css3/box-sizing";

$section-size: 450px;

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section {
  float: left;
  width: $section-size;
  height: $section-size;
  margin: 10px;
}

.segment {
  background-color: black;
  height: 2px;

  &:first-of-type {
    background-color: red;
  }

  &:last-of-type {
    background-color: blue;
  }

  &:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
    background-color: black;
  }
}

form {
  width: 0.7 * $section-size;
}

.value {
  float: right;
}
