@import "compass/reset";

@import "compass/css3/box-sizing";
@import "compass/css3/transform";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
          animation: #{$animation};
}

@mixin circle($radius) {
  position: absolute;

  width: $radius;
  height: $radius;

  margin-top: -0.5 * $radius;
  margin-left: -0.5 * $radius;

  border-radius: 50%;
}

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

.animation {
  position: relative;
  width: 100%;
  height: 100%;
}

.counter {
  position: absolute;

  width: 100px;
  height: 100px;

  top: 50%;
  left: 50%;

  margin-top: -50px;
  margin-left: -50px;

  color: white;
  font-size: 100px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  // background-color: #555;

  text-align: center;
}


@include keyframes(forward-rotation) {
  0% { @include rotate(0deg); }
  100% { @include rotate(360deg); }
}

@include keyframes(backward-rotation) {
  0% { @include rotate(360deg); }
  100% { @include rotate(0deg); }
}

.animation#animation-00 {
  background-color: #222;

  .circle {
    top: 50%;
    left: 50%;

    border: 2px solid transparent;
  }

  .circle#inner {
    @include circle(250px);
    border-left: 2px solid #f43;

    @include animation(forward-rotation 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite);
  }

  .circle#outer {
    @include circle(300px);
    border-left: 2px solid #fff;

    @include animation(backward-rotation 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite);
  }
}

@include keyframes(line-stretch-shrink) {
  0% { width: 0px };
  100% { width: 200px };
}

.animation#animation-01 {
  background-color: #333;

  .line {
    position: absolute;
  }

  .line#left {
    width: 200px;
    height: 1px;

    top: 50%;
    left: 50%;

    background-color: white;

    @include transform(rotateZ(-45deg));
    @include animation(line-stretch-shrink 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite);
  }
}
