@import "compass/reset";

@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/transition";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
          animation: #{$animation};
}

@mixin circle($radius) {
  position: absolute;

  width: $radius;
  height: $radius;

  margin-top: -0.5 * $radius;
  margin-left: -0.5 * $radius;

  border-radius: 50%;
}

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

.animation {
  position: relative;
  width: 100%;
  height: 100%;
}

.counter {
  position: absolute;

  width: 100px;
  height: 100px;

  top: 50%;
  left: 50%;

  margin-top: -50px;
  margin-left: -50px;

  color: white;
  font-size: 100px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  // background-color: #555;

  text-align: center;
}


@include keyframes(forward-rotation) {
  0% { @include rotate(0deg); }
  100% { @include rotate(360deg); }
}

@include keyframes(backward-rotation) {
  0% { @include rotate(360deg); }
  100% { @include rotate(0deg); }
}

$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.animation#animation-00 {
  background-color: #222;

  .circle {
    top: 50%;
    left: 50%;

    border: 2px solid transparent;
  }

  .circle#inner {
    @include circle(250px);
    border-left: 2px solid #f43;
  }

  .circle#outer {
    @include circle(300px);
    border-left: 2px solid #fff;
  }

  &:hover {
    .circle#inner {
      @include animation(forward-rotation 2s $ease-in-out-circ infinite);
    }

    .circle#outer {
      @include animation(backward-rotation 5s $ease-in-out-circ infinite);
    }
  }
}

$icon-names: (
  "Messages", "Calendar", "Photos", "Camera",
  "Weather", "Clock", "Maps", "Video",
  "Notes", "Reminders", "Stocks", "Game Center",
  "Newsstand", "iTunes Store", "App Store", "Passbook",
  "Compass", "Settings", "Safari", "Music"
);

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

$row-count: 5;
$box-count: 4;

$icon-size: 0.5 * 120px;
$icon-border-radius: 0.5 * 26px;
$icon-margin: 0.5 * 16px;

.animation#animation-01 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 0.7em;

  min-height: $row-count * $icon-size * 2;

  background-color: #333;
  @include perspective(1000px);
  @include perspective-origin(center center);

  @include flex-center();
  flex-direction: column;

  @for $i from 1 to $row-count + 1 {
    .row:nth-of-type(#{$i}) {
      @for $j from 1 to $box-count + 1 {
        $delay: abs($i - 3) * 0.15s + abs($j - 2.85) * 0.20s;

        .box:nth-of-type(#{$j}) {
          @include transition-duration(0.5s + $delay);

          &:after {
            content: nth($icon-names, ($i - 1) * ($row-count - 1) + ($j - 1) + 1);
          }
        }
      }
    }
  }

  .row {
    @include flex-center();

    .box {
      background-color: #fff;
      border-radius: $icon-border-radius;
      width: $icon-size;
      height: $icon-size;
      margin: $icon-margin;
      margin-bottom: 2.5 * $icon-margin;

      @include translate3d(0, 0, 1000px);
      @include transition(all);

      &:after {
        position: absolute;
        top: 100%;
        width: 200%;
        margin-left: -50%;
        text-align: center;
        margin-top: 0.4em;
      }
    }
  }

  &:hover {
    .row {
      .box {
        @include translate3d(0, 0, 0);
      }
    }
  }
}
