@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";

$background-color: #322;

$mainframe-width: 768px;
$mainframe-height: 448px;
$mainframe-diameter: 16px;
$mainframe-padding: 48px;

$grid-element-size: 12px;

$dial-diameter: 42px;

$big-red-button-diameter: 96px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #e42;
}

* {
  @include box-sizing(border-box);
}

.container {
  width: 100%;
  height: 100%;

  .mainframe {
    position: absolute;

    width: $mainframe-width;
    height: $mainframe-height;

    top: 50%;
    left: 50%;

    margin-top: -0.5 * $mainframe-height;
    margin-left: -0.5 * $mainframe-width;

    background-color: $background-color;
    border-radius: $mainframe-diameter;

    .component {
      width: $mainframe-width / 3;
      height: 100%;
      float: left;
      padding-top: $mainframe-padding;
      padding-left: $mainframe-padding;
    }

    .component:first-of-type {
      border-top-left-radius: $mainframe-diameter;
      border-bottom-left-radius: $mainframe-diameter;
    }

    .component:last-of-type {
      border-top-right-radius: $mainframe-diameter;
      border-bottom-right-radius: $mainframe-diameter;
      padding-right: $mainframe-padding;
    }

    #component-left {
      .grid {
        width: $grid-element-size;
        height: $grid-element-size;
        display: inline-block;
        background-color: #fff;
        margin: 4px;
        @include box-shadow(0 0 7px rgba(255, 255, 255, 0.5));
      }

      .grid:nth-of-type(7) { background-color: red; }
      .grid:nth-of-type(18) { background-color: yellow; }
    }

    #component-center {
      .dial {
        width: $dial-diameter;
        height: $dial-diameter;
        background-color: #555;
        border-radius: 50%;
        display: inline-block;
        margin: 4px;
        border: 3px solid white;
        @include box-shadow(inset -6px -6px 0 rgba(0, 0, 0, 0.3));

        &:after {
          content: "";
          position: absolute;
          width: 0.3 * $dial-diameter;
          height: 3px;
          margin-top: 0.5 * $dial-diameter - 5px;
          margin-left: 0.5 * $dial-diameter;
          background-color: red;
          @include box-shadow(1px 1px 0 black);
        }
      }
    }

    #component-right {
      .face {
        background-color: black;
        width: 128px;
        height: 128px;
        border-radius: 8px;
        border: 3px solid white;
        padding: 32px;

        .eye {
          width: 12px;
          height: 24px;
          background-color: #fff;
          border-radius: 2px;
        }

        #eye-left {
          float: left;
        }

        #eye-right {
          float: right;
        }

        .mouth {
          margin-top: 32px;
          width: 64px;
          height: 12px;
          border-radius: 2px;
          background-color: #fff;
          float: left;
        }
      }

      .big-red-button {
        margin: 20px;
        width: $big-red-button-diameter;
        height: $big-red-button-diameter;
        background-color: red;
        border-radius: 50%;
        @include box-shadow(
          inset 0 -4px 0 rgba(0, 0, 0, 0.3),
          0 6px 0 rgba(0, 0, 0, 0.3)
        );

        &:hover {
          margin-top: 24px;
          @include box-shadow(
            0 2px 0 rgba(0, 0, 0, 0.3)
          );
        }
      }
    }
  }
}

