@import "compass/reset";

@import "compass/css3/transform";

@import "modules/box";

html, body {
  width: 100%;
}

// Debug.
.debug {
  position: absolute;
  font-family: monospace;
  font-size: 3em;
}

.help {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

$box-size: 100px;
$box-spacing: 400px;
$half-box-spacing: 0.5 * $box-spacing;

.container {
  position: absolute;

  top: 50%;
  left: 50%;

  margin-left: -$half-box-spacing;
  margin-top:  -$half-box-spacing;

  @include perspective(2000px);
  @include transform-style(preserve-3d);
  @include transform-origin($half-box-spacing, $half-box-spacing, -$box-spacing);
}

.box {
  @include box($box-size, $box-size, $box-size);

  .top    { background-color: rgba(192, 192, 192, 0.5); }
  .front  { background-color: rgba(144, 144, 144, 0.5); }
  .right  { background-color: rgba( 96,  96,  96, 0.5); }
  .back   { background-color: rgba( 64,  64,  64, 0.5); }
  .left   { background-color: rgba( 32,  32,  32, 0.5); }
  .bottom { background-color: rgba(  0,   0,   0, 0.5); }
}

// Individual boxes.
.center {
  @include transform(translate3d(0.5 * $box-spacing, 0.5 * $box-spacing, -0.5 * $box-spacing));
}

.back-top-left {
  @include transform(translate3d(0, 0, -$box-spacing));
}

.back-top-right {
  @include transform(translate3d($box-spacing, 0, -$box-spacing));
}

.back-bottom-left {
  @include transform(translate3d(0, $box-spacing, -$box-spacing));
}

.back-bottom-right {
  @include transform(translate3d($box-spacing, $box-spacing, -$box-spacing));
}

.front-top-left {
  @include transform(translate3d(0, 0, 0));
}

.front-top-right {
  @include transform(translate3d($box-spacing, 0, 0));
}

.front-bottom-left {
  @include transform(translate3d(0, $box-spacing, 0));
}

.front-bottom-right {
  @include transform(translate3d($box-spacing, $box-spacing, 0));
}
