@import "compass/reset";

@import "compass/css3/transform";
@import "compass/css3/transition";

@import "modules/box";

$chest-width: 80px;
$chest-height: 100px;
$chest-depth: 35px;

$head-width: 40px;
$head-height: 40px;
$head-depth: 40px;

$upper-arm-width: 20px;
$upper-arm-height: 60px;
$upper-arm-depth: 20px;

$lower-arm-width: 20px;
$lower-arm-height: 40px;
$lower-arm-depth: 20px;

$hand-width: 20px;
$hand-height: 20px;
$hand-depth: 20px;

$hips-width: 60px;
$hips-height: 40px;
$hips-depth: 35px;

$upper-leg-width: 25px;
$upper-leg-height: 50px;
$upper-leg-depth: 25px;

$lower-leg-width: 25px;
$lower-leg-height: 70px;
$lower-leg-depth: 25px;

$foot-width: 30px;
$foot-height: 15px;
$foot-depth: 50px;

// Transforms.
$body-transform: translate3d(0, 0, 0);
$head-transform: translate3d(0, -80px, 0);

$chest-transform: translate3d(0, 0, 0);
$upper-arm-transform: translate3d(0, 0, 0);
$lower-arm-transform: translate3d(0, 60px, 0);
$hand-transform: translate3d(0, 40px, 0);

$hips-transform: translate3d(0, 80px, 0);
$upper-leg-transform: translate3d(0, 55px, 0);
$lower-leg-transform: translate3d(0, 70px, 0);
$foot-transform: translate3d(0, 50px, 10px);

$arm-left-transform:  translate3d(-60px, 0, 0);
$arm-right-transform: translate3d( 60px, 0, 0);

$leg-left-transform:  translate3d(-25px, 0, 0);
$leg-right-transform: translate3d( 25px, 0, 0);

.robot {
  @include perspective(2000px);
  @include perspective-origin(left top);
  @include transform(translate3d(300px, 175px, 0));
}

.body {
  @include transform($body-transform rotateY(0));
  @include transform-style(preserve-3d);
  @include transform-origin(0 0 0);

  *, & {
    @include transition(all 1s);
  }

  &:hover {
    @include transform($body-transform rotateY(40deg));

    .chest { @include transform($chest-transform rotateY(10deg)); }

    .head { @include transform($head-transform rotateY(-30deg)); }

    .arm-right {
      .upper-arm { @include transform($upper-arm-transform rotateX(30deg)); }
      .lower-arm { @include transform($lower-arm-transform rotateX(30deg)); }
      .hand { @include transform($hand-transform rotateX(20deg)); }
    }

    .arm-left {
      .upper-arm { @include transform($upper-arm-transform rotateX(-50deg)); }
      .lower-arm { @include transform($lower-arm-transform rotateX(30deg)); }
      .hand { @include transform($hand-transform rotateX(20deg)); }
    }

    .hips { @include transform($hips-transform rotateY(-30deg)); }

    .leg-right {
      .upper-leg { @include transform($upper-leg-transform rotateX(-30deg)); }
      .lower-leg { @include transform($lower-leg-transform rotateX(-20deg)); }
    }

    .leg-left {
      .upper-leg { @include transform($upper-leg-transform rotateX(40deg)); }
      .lower-leg { @include transform($lower-leg-transform rotateX(-40deg)); }
    }
  }

  .top    { background-color: rgba(255, 0, 0, 0.25); }
  .front  { background-color: rgba(192, 0, 0, 0.25); }
  .right  { background-color: rgba(128, 0, 0, 0.25); }
  .back   { background-color: rgba( 96, 0, 0, 0.25); }
  .left   { background-color: rgba( 64, 0, 0, 0.25); }
  .bottom { background-color: rgba( 32, 0, 0, 0.25); }

  .chest {
    @include box($chest-width, $chest-height, $chest-depth);
    @include transform($chest-transform);
    @include transform-origin(0 0 0);
  }

  .head {
    @include box($head-width, $head-height, $head-depth);
    @include transform($head-transform);
    @include transform-origin(0 0 0);
  }

  .arm, .leg {
    @include transform-style(preserve-3d);
    @include transform-origin(0 0 0);
  }

  .upper-arm {
    @include box($upper-arm-width, $upper-arm-height, $upper-arm-depth);
    @include transform($upper-arm-transform);
    @include transform-origin(0 -0.5 * $upper-arm-height 0);
  }

  .lower-arm {
    @include box($lower-arm-width, $lower-arm-height, $lower-arm-depth);
    @include transform($lower-arm-transform);
    @include transform-origin(0 -0.5 * $lower-arm-height 0);
  }

  .hand {
    @include box($hand-width, $hand-height, $hand-depth);
    @include transform($hand-transform);
    @include transform-origin(0 -0.5 * $hand-height 0);
  }

  .arm-left  { @include transform($arm-left-transform); }
  .arm-right { @include transform($arm-right-transform); }

  .hips {
    @include box($hips-width, $hips-height, $hips-depth);
    @include transform($hips-transform);
    @include transform-origin(0 -0.5 * $hips-height 0);
  }

  .upper-leg {
    @include box($upper-leg-width, $upper-leg-height, $upper-leg-depth);
    @include transform($upper-leg-transform);
    @include transform-origin(0 -0.5 * $upper-leg-height 0);
  }

  .lower-leg {
    @include box($lower-leg-width, $lower-leg-height, $lower-leg-depth);
    @include transform($lower-leg-transform);
    @include transform-origin(0 -0.5 * $lower-leg-height 0);
  }

  .foot {
    @include box($foot-width, $foot-height, $foot-depth);
    @include transform($foot-transform);
    @include transform-origin(0 -0.5 * $foot-height 0);
  }

  .leg-left  { @include transform($leg-left-transform); }
  .leg-right { @include transform($leg-right-transform); }
}
