@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$skyline-height: 85%;
$ground-color: #112;

$bg-building-color: #9aa;
$mg-building-color: #233;
$fg-building-color: $ground-color;

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.skyline {
  height: $skyline-height;
  @include background(linear-gradient(#acd, #fca));
}

.ground {
  height: 100% - $skyline-height;
  background-color: #112;
  @include box-shadow(
    -2px 0 5px #d33
  );
}

@mixin container($width, $height, $left) {
  position: absolute;
  width: $width;
  height: $height;

  bottom: 100% - $skyline-height;
  left: $left;

  display: flex;
  align-items: flex-end;
}

@mixin building($index, $width, $height, $margin-left: 0) {
  .building:nth-of-type(#{$index}) {
    width: $width;
    height: $height;
    margin-left: $margin-left;
  }
}

.background {
  .container {
    @include container(400px, 300px, 100px);

    .building {
      background-color: $bg-building-color;
    }

    @include building(1, 20px, 150px);
    @include building(2, 20px, 200px);
    @include building(3, 20px, 220px);
    @include building(4, 20px, 250px);
    @include building(5, 20px, 210px);
  }
}

.midground {
  .container {
    @include container(400px, 200px, 100px);

    .building {
      background-color: $mg-building-color;
    }

    @include building(1, 30px, 125px);
  }
}

.foreground {
  .container {
    @include container(400px, 150px, 100px);

    .building {
      background-color: $fg-building-color;
    }

    @include building(1, 20px, 25px);
    @include building(2, 25px, 35px);
    @include building(3, 30px, 27px);
    @include building(4, 25px, 25px);
  }
}
