@import "compass/reset";

@import "compass/css3/box-sizing";

$px: 16px;

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  background-color: #ddf;

  display: flex;
  align-items: center;
  justify-content: center;
}

$building-light: #77a;
$building-dark: #557;

.building {
  position: relative;
  width: 12 * $px;
  height: 12 * $px;
  background-color: $building-light;
  border: $px solid $building-dark;

  &:after {
    content: "";
    position: absolute;
    width: 3 * $px;
    height: 2 * $px;
    bottom: 2 * $px;
    right: 2 * $px;
    background-color: $building-dark;
  }
}
