@import "compass/reset";

@import "compass/css3/box-sizing";

$px: 8px;

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  background-color: #ddd;
}

$building-light: #777;
$building-dark: #333;

$building-size: 12 * $px;
$building-spacing: 4 * $px;

$container-size: 4 * ($building-size + $building-spacing);

.shadow {
  position: absolute;
  width: $building-size;
  height: $building-size;
}

.buildings {
  position: absolute;
  top: 25%;
  left: 50%;

  width: $container-size;
  margin-left: -0.5 * $container-size;
}

.building {
  float: left;

  position: relative;
  width: $building-size;
  height: $building-size;

  margin-bottom: $building-spacing;
  margin-right: $building-spacing;

  background-color: $building-light;
  border: $px solid $building-dark;

  &:first-child:after {
    content: "";
    position: absolute;
    width: 2 * $px;
    height: 2 * $px;
    bottom: 1 * $px;
    right: 1 * $px;
    background-color: $building-dark;
  }
}
