html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  height: 100%;
}
.palettes {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
}
.color {
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -o-box-flex: 8;
  box-flex: 8;
  -webkit-flex: 8 auto;
  -ms-flex: 8 auto;
  flex: 8 auto;
}
.add-palette-btn {
  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.add-palette-btn:active {
  background-color: #fff;
  color: #000;
}
.palette {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.palette .rect {
  width: 64px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-animation: expand 0.2s forwards;
  -moz-animation: expand 0.2s forwards;
  -o-animation: expand 0.2s forwards;
  -ms-animation: expand 0.2s forwards;
  animation: expand 0.2s forwards;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.palette .rect:hover:after {
  content: attr(data-background-color);
  position: absolute;
  height: 1.5em;
  line-height: 1.5em;
  white-space: nowrap;
  padding: 0.5em 1em;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.hsl {
  position: absolute;
  bottom: 1em;
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}
@-moz-keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}
@-webkit-keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}
@-o-keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}
@-ms-keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}
@keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100%;
  }
}
