html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rect {
  -webkit-animation: expand 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  -moz-animation: expand 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  -o-animation: expand 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  -ms-animation: expand 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation: expand 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.palette {
  margin-left: -32px;
  margin-right: 12.8px;
}
.palette .rect-container {
  width: 64px;
  height: 64px;
  margin-left: 64px;
  margin-top: 64px;
}
.palette .rect-container .rect:nth-child(1) {
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
}
.palette .rect-container .rect:nth-child(2) {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
}
.palette .rect-container .rect:nth-child(3) {
  width: 18px;
  height: 18px;
  margin-left: -9px;
  margin-top: -9px;
}
.palette .rect {
  position: absolute;
  -webkit-border-radius: 25%;
  border-radius: 25%;
}
.palette .row {
  max-width: 512px;
  margin-top: -48px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.palette .row:nth-child(1) .rect-container:nth-child(1) .rect:nth-child(1) {
  background-color: #e64;
}
.palette .row:nth-child(1) .rect-container:nth-child(1) .rect:nth-child(1) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  -ms-animation-delay: 0ms;
  animation-delay: 0ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(1) .rect:nth-child(2) {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  animation-delay: 200ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(1) .rect:nth-child(3) {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  -ms-animation-delay: 400ms;
  animation-delay: 400ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(2) .rect:nth-child(1) {
  background-color: #dd6;
}
.palette .row:nth-child(1) .rect-container:nth-child(2) .rect:nth-child(1) {
  -webkit-animation-delay: 50ms;
  -moz-animation-delay: 50ms;
  -o-animation-delay: 50ms;
  -ms-animation-delay: 50ms;
  animation-delay: 50ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(2) .rect:nth-child(2) {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  -o-animation-delay: 250ms;
  -ms-animation-delay: 250ms;
  animation-delay: 250ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(2) .rect:nth-child(3) {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  -o-animation-delay: 450ms;
  -ms-animation-delay: 450ms;
  animation-delay: 450ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(3) .rect:nth-child(1) {
  background-color: #665;
}
.palette .row:nth-child(1) .rect-container:nth-child(3) .rect:nth-child(1) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -o-animation-delay: 100ms;
  -ms-animation-delay: 100ms;
  animation-delay: 100ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(3) .rect:nth-child(2) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  animation-delay: 300ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(3) .rect:nth-child(3) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  animation-delay: 500ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(4) .rect:nth-child(1) {
  background-color: #9bb;
}
.palette .row:nth-child(1) .rect-container:nth-child(4) .rect:nth-child(1) {
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  -o-animation-delay: 150ms;
  -ms-animation-delay: 150ms;
  animation-delay: 150ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(4) .rect:nth-child(2) {
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
  -o-animation-delay: 350ms;
  -ms-animation-delay: 350ms;
  animation-delay: 350ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(4) .rect:nth-child(3) {
  -webkit-animation-delay: 550ms;
  -moz-animation-delay: 550ms;
  -o-animation-delay: 550ms;
  -ms-animation-delay: 550ms;
  animation-delay: 550ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(5) .rect:nth-child(1) {
  background-color: #ea4;
}
.palette .row:nth-child(1) .rect-container:nth-child(5) .rect:nth-child(1) {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  animation-delay: 200ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(5) .rect:nth-child(2) {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  -ms-animation-delay: 400ms;
  animation-delay: 400ms;
}
.palette .row:nth-child(1) .rect-container:nth-child(5) .rect:nth-child(3) {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -o-animation-delay: 600ms;
  -ms-animation-delay: 600ms;
  animation-delay: 600ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(1) .rect:nth-child(1) {
  background-color: #e64;
}
.palette .row:nth-child(2) .rect-container:nth-child(1) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(2) .rect-container:nth-child(1) .rect:nth-child(1) {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  -o-animation-delay: 250ms;
  -ms-animation-delay: 250ms;
  animation-delay: 250ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(1) .rect:nth-child(2) {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  -o-animation-delay: 450ms;
  -ms-animation-delay: 450ms;
  animation-delay: 450ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(1) .rect:nth-child(3) {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
  -o-animation-delay: 650ms;
  -ms-animation-delay: 650ms;
  animation-delay: 650ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(2) .rect:nth-child(1) {
  background-color: #dd6;
}
.palette .row:nth-child(2) .rect-container:nth-child(2) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(2) .rect-container:nth-child(2) .rect:nth-child(1) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -o-animation-delay: 300ms;
  -ms-animation-delay: 300ms;
  animation-delay: 300ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(2) .rect:nth-child(2) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  animation-delay: 500ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(2) .rect:nth-child(3) {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  animation-delay: 700ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(3) .rect:nth-child(1) {
  background-color: #665;
}
.palette .row:nth-child(2) .rect-container:nth-child(3) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(2) .rect-container:nth-child(3) .rect:nth-child(1) {
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
  -o-animation-delay: 350ms;
  -ms-animation-delay: 350ms;
  animation-delay: 350ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(3) .rect:nth-child(2) {
  -webkit-animation-delay: 550ms;
  -moz-animation-delay: 550ms;
  -o-animation-delay: 550ms;
  -ms-animation-delay: 550ms;
  animation-delay: 550ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(3) .rect:nth-child(3) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  animation-delay: 750ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(4) .rect:nth-child(1) {
  background-color: #9bb;
}
.palette .row:nth-child(2) .rect-container:nth-child(4) .rect:nth-child(2) {
  background-color: #665;
}
.palette .row:nth-child(2) .rect-container:nth-child(4) .rect:nth-child(1) {
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  -ms-animation-delay: 400ms;
  animation-delay: 400ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(4) .rect:nth-child(2) {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -o-animation-delay: 600ms;
  -ms-animation-delay: 600ms;
  animation-delay: 600ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(4) .rect:nth-child(3) {
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -o-animation-delay: 800ms;
  -ms-animation-delay: 800ms;
  animation-delay: 800ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(5) .rect:nth-child(1) {
  background-color: #ea4;
}
.palette .row:nth-child(2) .rect-container:nth-child(5) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(2) .rect-container:nth-child(5) .rect:nth-child(1) {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  -o-animation-delay: 450ms;
  -ms-animation-delay: 450ms;
  animation-delay: 450ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(5) .rect:nth-child(2) {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
  -o-animation-delay: 650ms;
  -ms-animation-delay: 650ms;
  animation-delay: 650ms;
}
.palette .row:nth-child(2) .rect-container:nth-child(5) .rect:nth-child(3) {
  -webkit-animation-delay: 850ms;
  -moz-animation-delay: 850ms;
  -o-animation-delay: 850ms;
  -ms-animation-delay: 850ms;
  animation-delay: 850ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(1) {
  background-color: #e64;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(3) {
  background-color: #665;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(1) {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  animation-delay: 500ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(2) {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  animation-delay: 700ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(1) .rect:nth-child(3) {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  animation-delay: 900ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(1) {
  background-color: #dd6;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(3) {
  background-color: #ea4;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(1) {
  -webkit-animation-delay: 550ms;
  -moz-animation-delay: 550ms;
  -o-animation-delay: 550ms;
  -ms-animation-delay: 550ms;
  animation-delay: 550ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(2) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  animation-delay: 750ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(2) .rect:nth-child(3) {
  -webkit-animation-delay: 950ms;
  -moz-animation-delay: 950ms;
  -o-animation-delay: 950ms;
  -ms-animation-delay: 950ms;
  animation-delay: 950ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(1) {
  background-color: #665;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(3) {
  background-color: #e64;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(1) {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -o-animation-delay: 600ms;
  -ms-animation-delay: 600ms;
  animation-delay: 600ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(2) {
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -o-animation-delay: 800ms;
  -ms-animation-delay: 800ms;
  animation-delay: 800ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(3) .rect:nth-child(3) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -o-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(1) {
  background-color: #9bb;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(3) {
  background-color: #e64;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(1) {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
  -o-animation-delay: 650ms;
  -ms-animation-delay: 650ms;
  animation-delay: 650ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(2) {
  -webkit-animation-delay: 850ms;
  -moz-animation-delay: 850ms;
  -o-animation-delay: 850ms;
  -ms-animation-delay: 850ms;
  animation-delay: 850ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(4) .rect:nth-child(3) {
  -webkit-animation-delay: 1050ms;
  -moz-animation-delay: 1050ms;
  -o-animation-delay: 1050ms;
  -ms-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(1) {
  background-color: #ea4;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(3) {
  background-color: #dd6;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(1) {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  animation-delay: 700ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(2) {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  animation-delay: 900ms;
}
.palette .row:nth-child(3) .rect-container:nth-child(5) .rect:nth-child(3) {
  -webkit-animation-delay: 1100ms;
  -moz-animation-delay: 1100ms;
  -o-animation-delay: 1100ms;
  -ms-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(1) .rect:nth-child(1) {
  background-color: #e64;
}
.palette .row:nth-child(4) .rect-container:nth-child(1) .rect:nth-child(2) {
  background-color: #ea4;
}
.palette .row:nth-child(4) .rect-container:nth-child(1) .rect:nth-child(1) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  animation-delay: 750ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(1) .rect:nth-child(2) {
  -webkit-animation-delay: 950ms;
  -moz-animation-delay: 950ms;
  -o-animation-delay: 950ms;
  -ms-animation-delay: 950ms;
  animation-delay: 950ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(1) .rect:nth-child(3) {
  -webkit-animation-delay: 1150ms;
  -moz-animation-delay: 1150ms;
  -o-animation-delay: 1150ms;
  -ms-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(2) .rect:nth-child(1) {
  background-color: #dd6;
}
.palette .row:nth-child(4) .rect-container:nth-child(2) .rect:nth-child(2) {
  background-color: #665;
}
.palette .row:nth-child(4) .rect-container:nth-child(2) .rect:nth-child(1) {
  -webkit-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -o-animation-delay: 800ms;
  -ms-animation-delay: 800ms;
  animation-delay: 800ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(2) .rect:nth-child(2) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -o-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(2) .rect:nth-child(3) {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -o-animation-delay: 1200ms;
  -ms-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(3) .rect:nth-child(1) {
  background-color: #665;
}
.palette .row:nth-child(4) .rect-container:nth-child(3) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(4) .rect-container:nth-child(3) .rect:nth-child(1) {
  -webkit-animation-delay: 850ms;
  -moz-animation-delay: 850ms;
  -o-animation-delay: 850ms;
  -ms-animation-delay: 850ms;
  animation-delay: 850ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(3) .rect:nth-child(2) {
  -webkit-animation-delay: 1050ms;
  -moz-animation-delay: 1050ms;
  -o-animation-delay: 1050ms;
  -ms-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(3) .rect:nth-child(3) {
  -webkit-animation-delay: 1250ms;
  -moz-animation-delay: 1250ms;
  -o-animation-delay: 1250ms;
  -ms-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(4) .rect:nth-child(1) {
  background-color: #9bb;
}
.palette .row:nth-child(4) .rect-container:nth-child(4) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(4) .rect-container:nth-child(4) .rect:nth-child(1) {
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  animation-delay: 900ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(4) .rect:nth-child(2) {
  -webkit-animation-delay: 1100ms;
  -moz-animation-delay: 1100ms;
  -o-animation-delay: 1100ms;
  -ms-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(4) .rect:nth-child(3) {
  -webkit-animation-delay: 1300ms;
  -moz-animation-delay: 1300ms;
  -o-animation-delay: 1300ms;
  -ms-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(5) .rect:nth-child(1) {
  background-color: #ea4;
}
.palette .row:nth-child(4) .rect-container:nth-child(5) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(4) .rect-container:nth-child(5) .rect:nth-child(1) {
  -webkit-animation-delay: 950ms;
  -moz-animation-delay: 950ms;
  -o-animation-delay: 950ms;
  -ms-animation-delay: 950ms;
  animation-delay: 950ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(5) .rect:nth-child(2) {
  -webkit-animation-delay: 1150ms;
  -moz-animation-delay: 1150ms;
  -o-animation-delay: 1150ms;
  -ms-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.palette .row:nth-child(4) .rect-container:nth-child(5) .rect:nth-child(3) {
  -webkit-animation-delay: 1350ms;
  -moz-animation-delay: 1350ms;
  -o-animation-delay: 1350ms;
  -ms-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(1) {
  background-color: #e64;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(3) {
  background-color: #ea4;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(1) {
  -webkit-animation-delay: 1000ms;
  -moz-animation-delay: 1000ms;
  -o-animation-delay: 1000ms;
  -ms-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(2) {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -o-animation-delay: 1200ms;
  -ms-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(1) .rect:nth-child(3) {
  -webkit-animation-delay: 1400ms;
  -moz-animation-delay: 1400ms;
  -o-animation-delay: 1400ms;
  -ms-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(1) {
  background-color: #dd6;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(3) {
  background-color: #665;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(1) {
  -webkit-animation-delay: 1050ms;
  -moz-animation-delay: 1050ms;
  -o-animation-delay: 1050ms;
  -ms-animation-delay: 1050ms;
  animation-delay: 1050ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(2) {
  -webkit-animation-delay: 1250ms;
  -moz-animation-delay: 1250ms;
  -o-animation-delay: 1250ms;
  -ms-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(2) .rect:nth-child(3) {
  -webkit-animation-delay: 1450ms;
  -moz-animation-delay: 1450ms;
  -o-animation-delay: 1450ms;
  -ms-animation-delay: 1450ms;
  animation-delay: 1450ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(1) {
  background-color: #665;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(2) {
  background-color: #e64;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(3) {
  background-color: #ea4;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(1) {
  -webkit-animation-delay: 1100ms;
  -moz-animation-delay: 1100ms;
  -o-animation-delay: 1100ms;
  -ms-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(2) {
  -webkit-animation-delay: 1300ms;
  -moz-animation-delay: 1300ms;
  -o-animation-delay: 1300ms;
  -ms-animation-delay: 1300ms;
  animation-delay: 1300ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(3) .rect:nth-child(3) {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(1) {
  background-color: #9bb;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(2) {
  background-color: #665;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(3) {
  background-color: #dd6;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(1) {
  -webkit-animation-delay: 1150ms;
  -moz-animation-delay: 1150ms;
  -o-animation-delay: 1150ms;
  -ms-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(2) {
  -webkit-animation-delay: 1350ms;
  -moz-animation-delay: 1350ms;
  -o-animation-delay: 1350ms;
  -ms-animation-delay: 1350ms;
  animation-delay: 1350ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(4) .rect:nth-child(3) {
  -webkit-animation-delay: 1550ms;
  -moz-animation-delay: 1550ms;
  -o-animation-delay: 1550ms;
  -ms-animation-delay: 1550ms;
  animation-delay: 1550ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(1) {
  background-color: #ea4;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(2) {
  background-color: #dd6;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(3) {
  background-color: #e64;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(1) {
  -webkit-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -o-animation-delay: 1200ms;
  -ms-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(2) {
  -webkit-animation-delay: 1400ms;
  -moz-animation-delay: 1400ms;
  -o-animation-delay: 1400ms;
  -ms-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.palette .row:nth-child(5) .rect-container:nth-child(5) .rect:nth-child(3) {
  -webkit-animation-delay: 1600ms;
  -moz-animation-delay: 1600ms;
  -o-animation-delay: 1600ms;
  -ms-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
@-moz-keyframes expand {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes expand {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes expand {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
