@import "compass/reset";

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin vertex-pseudo($diameter, $color) {
  content: '';
  position: absolute;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  border: 0.5 * $diameter solid $color;
}

$btn-background-color: #f43;
$btn-light-color: white;
$btn-dark-color: black;

.buttons {
  @include flex-center();
  background-color: $btn-background-color;

  *,
  *:before,
  *:after {
    @include transition(all 0.2s);
  }
}

button {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  font-size: 0.5em;

  background-color: transparent;
  border: 0.2rem solid $btn-light-color;
  border-radius: 1.25rem;

  outline: none;
  -webkit-user-select: none;

  &:active {
    border: 0.2rem solid $btn-dark-color;
  }
}

.segment-btn {
  .segment {
    position: absolute;
    height: 0.2rem;
    width: 1.8rem;
    left: 1.4rem;
    background-color: $btn-light-color;
    @include transform(rotate(-30deg) translateZ(0));

    &:before,
    &:after {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      margin-top: -0.3rem;
    }

    &:before {
      left: -0.4rem;
      margin-left: -0.2rem;
    }

    &:after {
      right: -0.4rem;
      margin-right: -0.2rem;
    }
  }

  &:active {
    .segment {
      @include transform(rotate(-210deg) translateZ(0));
      background-color: $btn-dark-color;

      &:before,
      &:after {
        border-color: $btn-dark-color;
      }
    }
  }
}

.polyline-btn {
  .segment {
    position: absolute;
    height: 0.2rem;
    width: 1rem;
    left: 0.6rem;
    background-color: $btn-light-color;

    &:before {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      // Prevents other segments from showing through.
      background-color: $btn-background-color;
      margin-top: -0.3rem;
      left: -0.4rem;
      margin-left: -0.2rem;
    }

    &:last-child:after {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      margin-top: -0.3rem;
      right: -0.4rem;
      margin-right: -0.2rem;
    }

    &:nth-of-type(1) {
      @include transform(translate3d(0.2rem, 0.3rem, 0) rotate(-60deg));
    }

    &:nth-of-type(2) {
      @include transform(translate3d(1.2rem, 0, 0) rotate(30deg));
    }

    &:nth-of-type(3) {
      @include transform(translate3d(2.2rem, -0.3rem, 0) rotate(-60deg));
    }
  }

  &:active {
    .segment {
      background-color: $btn-dark-color;

      &:before,
      &:after {
        border-color: $btn-dark-color;
      }

      &:nth-of-type(1) {
        @include transform(translate3d(0.3rem, 0, 0) rotate(60deg));
      }

      &:nth-of-type(2) {
        @include transform(translate3d(1.3rem, 0.2rem, 0) rotate(-40deg));
      }

      &:nth-of-type(3) {
        @include transform(translate3d(2.3rem, 0.4rem, 0) rotate(60deg));
      }
    }
  }
}

.remove-btn {
  .segment {
    position: absolute;
    height: 0.2rem;
    width: 3rem;
    left: 0.75rem;
    background-color: $btn-light-color;

    &:first-of-type {
      @include transform(rotate(45deg));
    }

    &:last-of-type {
      @include transform(rotate(-45deg));
    }
  }

  &:active {
    .segment {
      background-color: $btn-dark-color;
      width: 2rem;
      left: 1.25rem;
    }
  }
}
