@import "compass/reset";

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin square($diameter) {
  $radius: 0.5 * $diameter;

  width: $diameter;
  height: $diameter;

  margin-top: -$radius;
  margin-left: -$radius;
}

@mixin circle($diameter) {
  @include square($diameter);
  border-radius: 50%;
}

@mixin vertex-pseudo($diameter, $color) {
  content: '';
  position: absolute;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  border: 0.5 * $diameter solid $color;
}

$btn-background-color: #f43;
$btn-light-color: white;
$btn-dark-color: darken($btn-background-color, 35%);
$btn-line-width: 0.2rem;

.buttons {
  @include flex-center();

  flex-wrap: wrap;
  overflow: auto;

  background-color: $btn-background-color;

  *,
  *:before,
  *:after {
    @include transition(all 0.2s);
  }
}

button {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 1rem;

  background-color: transparent;
  border: $btn-line-width solid $btn-light-color;
  border-radius: 1.25rem;

  outline: none;
  -webkit-user-select: none;

  &:active {
    border: $btn-line-width solid $btn-dark-color;
  }
}

.segment-btn {
  .segment {
    position: absolute;
    height: $btn-line-width;
    width: 1.8rem;
    left: 1.4rem;
    background-color: $btn-light-color;
    @include transform(rotate(-30deg) translateZ(0));

    &:before,
    &:after {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      margin-top: -0.3rem;
    }

    &:before {
      left: -2 * $btn-line-width;
      margin-left: -$btn-line-width;
    }

    &:after {
      right: -2 * $btn-line-width;
      margin-right: -$btn-line-width;
    }
  }

  &:active {
    .segment {
      @include transform(rotate(-210deg) translateZ(0));
      background-color: $btn-dark-color;

      &:before,
      &:after {
        border-color: $btn-dark-color;
      }
    }
  }
}

.polyline-btn {
  .segment {
    position: absolute;
    height: $btn-line-width;
    width: 1rem;
    left: 0.6rem;
    background-color: $btn-light-color;

    &:before {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      // Prevents other segments from showing through.
      background-color: $btn-background-color;
      margin-top: -0.3rem;
      left: -2 * $btn-line-width;
      margin-left: -$btn-line-width;
    }

    &:last-child:after {
      @include vertex-pseudo(0.4rem, $btn-light-color);
      margin-top: -0.3rem;
      right: -2 * $btn-line-width;
      margin-right: -$btn-line-width;
    }

    &:nth-of-type(1) {
      @include transform(translate3d(0.2rem, 0.3rem, 0) rotate(-60deg));
    }

    &:nth-of-type(2) {
      @include transform(translate3d(1.2rem, 0, 0) rotate(30deg));
    }

    &:nth-of-type(3) {
      @include transform(translate3d(2.2rem, -0.3rem, 0) rotate(-60deg));
    }
  }

  &:active {
    .segment {
      background-color: $btn-dark-color;

      &:before,
      &:after {
        border-color: $btn-dark-color;
      }

      &:nth-of-type(1) {
        @include transform(translate3d(0.3rem, 0, 0) rotate(60deg));
      }

      &:nth-of-type(2) {
        @include transform(translate3d(1.3rem, 0.2rem, 0) rotate(-40deg));
      }

      &:nth-of-type(3) {
        @include transform(translate3d(2.3rem, 0.4rem, 0) rotate(60deg));
      }
    }
  }
}

.remove-btn {
  .segment {
    position: absolute;
    height: $btn-line-width;
    width: 3rem;
    left: 0.75rem;
    background-color: $btn-light-color;

    &:first-of-type {
      @include transform(rotate(45deg));
    }

    &:last-of-type {
      @include transform(rotate(-45deg));
    }
  }

  &:active {
    .segment {
      background-color: $btn-dark-color;
      width: 2rem;
      left: 1.25rem;
    }
  }
}

.light-btn {
  .light {
    @include circle(1.2rem);

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: $btn-light-color;
    border: $btn-line-width solid $btn-light-color;
  }

  .segment {
    position: absolute;
    height: $btn-line-width;
    width: 0.5rem;
    left: 50%;
    margin-left: -0.25rem;
    background-color: $btn-light-color;

    &:nth-of-type(2n) {
      width: 0.3rem;
      margin-left: -0.15rem;
    }

    @for $i from 0 to 8 {
      &:nth-of-type(#{$i + 1}) {
        @include transform(rotateZ($i * 45deg) translate3d(1.2rem, 0, 0));
      }
    }
  }

  &:active {
    .light {
      @include circle(1.7rem);
      background-color: $btn-dark-color;
      border-color: $btn-dark-color;
    }

    .segment {
      background-color: $btn-dark-color;

      @for $i from 0 to 8 {
        &:nth-of-type(#{$i + 1}) {
          @include transform(rotateZ($i * 45deg) translate3d(1.5rem, 0, 0));
        }
      }
    }
  }
}

.transform-btn {
  .square {
    @include square(2.5rem);

    position: absolute;
    top: 50%;
    left: 50%;

    border: $btn-line-width solid $btn-light-color;

    .corner {
      @include square(0.8rem);
      position: absolute;

      background-color: $btn-background-color;
      border: $btn-line-width solid $btn-light-color;

      &:nth-of-type(2n) {
        left: 100%;
      }

      &:nth-of-type(n+3) {
        top: 100%;
      }
    }
  }

  &:active {
    .square {
      @include square(2rem);
      border-color: $btn-dark-color;

      .corner {
        border-color: $btn-dark-color;
      }
    }
  }
}
