@import "compass/reset";

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.section {
  width: 100%;
  height: 100%;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  @include flex-center();
  background-color: black;

  *,
  *:before,
  *:after {
    @include transition(all 0.2s);
  }
}

button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 12px;

  outline: none;
  -webkit-user-select: none;

  &:active {
    border: 2px solid #555;
  }
}

.segment-btn {
  .segment {
    position: absolute;
    height: 2px;
    top: 23px;
    left: 16px;
    right: 16px;
    background-color: white;
    @include transform(rotate(-30deg) translateZ(0));

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 2px solid white;
      margin-top: -3px;
    }

    &:before {
      left: -4px;
      margin-left: -2px;
    }

    &:after {
      right: -4px;
      margin-right: -2px;
    }
  }

  &:active {
    .segment {
      @include transform(rotate(-210deg) translateZ(0));
      background-color: #555;

      &:before,
      &:after {
        border-color: #555;
      }
    }
  }
}

.polyline-btn {
  .segment {
    position: absolute;
    height: 2px;
    left: 18px;
    right: 18px;
    background-color: white;

    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 2px solid white;
      margin-top: -3px;
      left: -4px;
      margin-left: -2px;
    }

    &:last-child:after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 2px solid white;
      margin-top: -3px;
      right: -4px;
      margin-right: -2px;
    }

    &:nth-of-type(1) {
      @include transform(translate3d(-10px, 3px, 0) rotate(-60deg));
    }

    &:nth-of-type(2) {
      @include transform(translate3d(0, 0, 0) rotate(30deg));
    }

    &:nth-of-type(3) {
      @include transform(translate3d(10px, -3px, 0) rotate(-60deg));
    }
  }

  &:active {
    .segment {
      background-color: #555;

      &:before,
      &:after {
        border-color: #555;
      }
    }
  }
}
