/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3/box";
@import "compass/css3/transform";

$oblv-width: 128px;
$oblv-height: 48px;

$oblv-node-radius: 3px;

html, body {
  height: 100%;
}

.section {
  width: 100%;
  height: 100%;
}

.oblivion {
  background-color: black;

  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 7px rgba(0, 255, 255, 0.75);

  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

.oblivion-css {
  #css-dashed-circle {
    position: relative;
    top: 50%;
    left: 50%;

    .tick {
      position: absolute;
      width: 20px;
      height: 1px;
      margin-left: -10px;
      margin-top: -0.5px;
      box-shadow: 0 0 3px rgba(0, 192, 255, 1);
      background-color: white;
      color: rgba(224, 255, 255, 1);

      .angle {
        @include transform(rotate(90deg));
        position: absolute;
        left: 120%;
        margin-top: -4px;
        font-size: 9pt;
      }
    }

    .minor {
      width: 10px;
      height: 1px;
      margin-left: -5px;
      margin-top: -0.5px;
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(192, 224, 255, 0.75);

      .angle {
        // display: none;
        font-size: 7pt;
      }
    }
  }

  #css-canvas {
    position: absolute;
  }
}

.oblivion-canvas {
  overflow: hidden;
  #dashed-circle {
    position: relative;
  }

  .button {
    @include display-box;
    @include box-align(center);

    position: relative;

    width: $oblv-width;
    height: $oblv-height;

    top: 50%;
    left: 50%;

    margin-left: -0.5 * $oblv-width;
    margin-top: -0.5 * $oblv-height;

    text-align: center;
    border: 1px solid rgba(192, 224, 255, 0.5);

    border-top: transparent;
    border-bottom: transparent;

    .text {
      width: 100%;
    }

    .node {
      position: absolute;
      width: $oblv-node-radius;
      height: $oblv-node-radius;
      margin-left: -0.5 * $oblv-node-radius;
      margin-top: -0.5 * $oblv-node-radius;
      background-color: rgba(192, 240, 255, 1);

      &:nth-of-type(2) {
        left: 100%;
      }

      &:nth-of-type(3) {
        top: 100%;
      }

      &:nth-of-type(4) {
        top: 100%;
        left: 100%;
      }
    }
  }
}
