!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    title Icons

    link(rel='stylesheet', href='./stylesheets/icons.css')
  body(ontouchstart='')
    .section.buttons
      button.segment-btn
        .segment
      button.polyline-btn
        -for ( var i = 0; i < 3; i++ )
          .segment
      button.remove-btn
        .segment
        .segment
      button.light-btn
        -for ( var i = 0; i < 8; i++ )
          .segment
        .light
