!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    title Icons

    link(rel='stylesheet', href='./stylesheets/icons.css')
  body
    .section.buttons
      button.segment-btn
        .segment
      button.polyline-btn
        .segment
        .segment
        .segment
