doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Icons

    link(rel='stylesheet', href='./stylesheets/icons.css')
  body(ontouchstart='')
    .section.buttons
      button.segment-btn
        .segment
      button.polyline-btn
        -for ( var i = 0; i < 3; i++ )
          .segment
      button.remove-btn
        .segment
        .segment
      button.light-btn
        -for ( var i = 0; i < 8; i++ )
          .segment
        .light
      button.transform-btn
        .square
          -for ( var i = 0; i < 4; i++ )
            .corner
      button.move-btn
        .segment
        .segment
      button.polygon-btn
        .triangle
          .segments
            -for ( var i = 0; i < 3; i++ )
              .segment
          .vertices
            -for ( var i = 0; i < 3; i++ )
              .vertex
      button.polygon-svg-btn
        svg(viewBox='-0.7 -0.7 1.4 1.4')
          rect(x='-0.05', y='-0.05', width='0.1', height='0.1')
          polygon(points='-0.5,0.433 0.5,0.433 0,-0.433')
          circle(cx='-0.5', cy='0.433', r='0.12')
          circle(cx='0.5', cy='0.433', r='0.12')
          circle(cx='0', cy='-0.433', r='0.12')
