!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    title Social

    link(rel='stylesheet', href='./stylesheets/social.css')

    <script type="text/javascript" src="//use.typekit.net/mxa2bdi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    .section#section-00
      .login-box
        .face
          .eyes
            .eye#eye-left
            .eye#eye-right
          .mouth
        hr
        .form-group
          label(for='username') Username
          input#username(type='text')
        .form-group
          label(for='password') Password
          input#password(type='password')
        button.log-in LOG IN

    .section#section-01
      .navbar
        .home: a(href) HOME
        ul.links
          li: a(href) PORTFOLIO
          li: a(href) CONTACT
          li: a(href) ABOUT

