/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/physical-animation.scss */
.test {
  float: left;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
}

/* line 23, ../sass/physical-animation.scss */
.transition-test {
  width: 200px;
  height: 200px;
  background-color: #888;
  -webkit-transition: -webkit-filter 0.3s;
  -webkit-filter: custom( url(../shaders/shader.vert) mix(url(../shaders/shader.frag) normal source-atop), 16 16, time 0.0, green 0.0 );
}
/* line 36, ../sass/physical-animation.scss */
.transition-test:hover {
  -webkit-filter: custom( url(../shaders/shader.vert) mix(url(../shaders/shader.frag) normal source-atop), 16 16, time 1.0, green 1.0 );
}

/* line 63, ../sass/physical-animation.scss */
.warp-test {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-transition: -webkit-filter 0.2s;
  -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.5, 0.9, 0.0, 0.6), matrix perspective(20) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) );
}
/* line 75, ../sass/physical-animation.scss */
.warp-test:hover {
  -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.9, 0.0, 0.6, 0.5), matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg) );
}

@-webkit-keyframes animation {
  /* line 82, ../sass/physical-animation.scss */
  0% {
    -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.5, 0.9, 0.0, 0.6), matrix perspective(20) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) );
  }

  /* line 83, ../sass/physical-animation.scss */
  100% {
    -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.9, 0.0, 0.6, 0.5), matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg) );
  }
}

@keyframes animation {
  /* line 82, ../sass/physical-animation.scss */
  0% {
    -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.5, 0.9, 0.0, 0.6), matrix perspective(20) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) );
  }

  /* line 83, ../sass/physical-animation.scss */
  100% {
    -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.9, 0.0, 0.6, 0.5), matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg) );
  }
}

/* line 86, ../sass/physical-animation.scss */
.animation-test {
  width: 200px;
  height: 200px;
  -webkit-filter: custom( url(../shaders/warp.vert) mix(url(../shaders/warp.frag) normal destination-over), 8 8, k array(0.9, 0.0, 0.6, 0.5), matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg) );
}
/* line 90, ../sass/physical-animation.scss */
.animation-test:hover {
  -webkit-animation: animation 0.6s infinite alternate;
  animation: animation 0.6s infinite alternate;
}

/* line 97, ../sass/physical-animation.scss */
.mouse-test {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  -webkit-filter: custom( url(../shaders/mouse.vert) mix(url(../shaders/mouse.frag) multiply source-atop), 16 16, mouse 0.0 0.0 );
}
