@import "compass/reset";

@import "compass/css3/transform";
@import "compass/css3/transition";

// Add pixels to close up gaps between divs.
$epsilon: 0.5;

$phone-width: 448px;
$phone-height: 960px;
$phone-depth: 64px;

$half-phone-width: 0.5 * $phone-width;
$half-phone-height: 0.5 * $phone-height;
$half-phone-depth: 0.5 * $phone-depth;

$phone-transform: translateZ(-$phone-height) rotateX(80deg) rotateZ(30deg);

$text-x: -0.5 * $half-phone-width;
$text-y: 0;
$text-z: 2 * $phone-depth;
$text-z-active: 5 * $phone-depth;
$text-translate: translate3d($text-x, $text-y, $text-z);
$text-translate-active: translate3d($text-x, $text-y, $text-z-active);
$text-rotate: rotateX(-90deg);

html, body {
  height: 100%;
}

body {
  background-color: #334;
}

.container {
  width: 100%;
  height: 100%;

  @include perspective(1000px);
}

.phone {
  position: absolute;
  top: 50%;
  left: 50%;

  @include transform-style(preserve-3d);
  @include transform($phone-transform);

  .face {
    position: absolute;

    &:hover {
      ~ .text {
        opacity: 1;
        @include transform($text-translate-active $text-rotate);
      }
    }
  }

  .bottom {
    background-color: #111;

    width:  $phone-width + $epsilon;
    height: $phone-depth + $epsilon;

    margin-left: -$half-phone-width;
    margin-top:  -$half-phone-depth;

    @include transform(translate3d(0, $half-phone-height, 0) rotateX(-90deg));
  }

  .front {
    background-color: #222;

    width:  $phone-width + $epsilon;
    height: $phone-height + $epsilon;

    margin-left: -$half-phone-width;
    margin-top:  -$half-phone-height;

    @include transform(translate3d(0, 0, $half-phone-depth));
  }

  .right {
    background-color: #000;

    width:  $phone-depth + $epsilon;
    height: $phone-height + $epsilon;

    margin-left: -$half-phone-depth;
    margin-top:  -$half-phone-height;

    @include transform(translate3d($half-phone-width, 0, 0) rotateY(90deg));
  }
}

.text {
  position: absolute;

  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  color: white;

  text-transform: capitalize;

  opacity: 0;
  @include transform($text-translate $text-rotate);
  @include transition(all 0.5s);
}
