@import "compass/reset";

@import "compass/css3/background-clip";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";

body {
  background-color: #222;
}

.section {
  width: 100%;
  min-height: 128px;
  height: 100%;
}

@mixin uppercase-helvetica-light() {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12em;
  font-weight: 100;
  text-transform: uppercase;
}

#section-00 {
  color: transparent;
  text-align: center;
  padding: 2rem 0;

  @include uppercase-helvetica-light();

  @include perspective(100px);
  @include perspective-origin(center top);
  @include transform-style(preserve-3d);

  @include transition(all 0.2s);

  .text {
    @include background(linear-gradient(#d88, #ffe));
    @include background-clip(text);

    @include transform(rotateX(30deg) translateZ(-100px));
  }
}

$light-stripe: rgba(255, 128, 96, 0.6);
$dark-stripe: rgba(192, 64, 48, 0.6);
$inner-stroke-margin: 8px;
$outer-stroke-margin: 16px;

#section-01 {
  *, & {
    @include box-sizing(border-box);
  }

  position: relative;
  @include background(
    repeating-linear-gradient(-45deg,
      $light-stripe, $light-stripe 25px, $dark-stripe 25px, $dark-stripe 50px
    ),
    radial-gradient(right top, rgba(255, 255, 255, 0.4) 40%, rgba(0, 0, 0, 0.4))
  );
  color: white;
  text-align: center;

  @include uppercase-helvetica-light();
  font-size: 8em;
  padding: 2rem;
  @include text-shadow(
    0 0 20px rgba(32, 32, 32, 1)
  );

  &:before, &:after {
    content: "";
    position: absolute;
    border: 3px solid white;
    border-radius: 8px;
  }

  &:before {
    top: $inner-stroke-margin;
    left: $inner-stroke-margin;
    bottom: $inner-stroke-margin;
    right: $inner-stroke-margin;
  }

  &:after {
    top: $outer-stroke-margin;
    left: $outer-stroke-margin;
    bottom: $outer-stroke-margin;
    right: $outer-stroke-margin;
  }
}
