@import "compass/reset";

@import "compass/css3/background-clip";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";

body {
  background-color: #222;
}

.section {
  width: 100%;
  min-height: 128px;
  height: 100%;
}

@mixin uppercase-helvetica-light() {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12em;
  font-weight: 100;
  text-transform: uppercase;
}

#section-00 {
  color: transparent;
  text-align: center;
  padding: 2rem 0;

  @include uppercase-helvetica-light();

  @include perspective(100px);
  @include perspective-origin(center top);
  @include transform-style(preserve-3d);

  @include transition(all 0.2s);

  .text {
    @include background(linear-gradient(#d88, #ffe));
    @include background-clip(text);

    @include transform(rotateX(30deg) translateZ(-100px));
  }
}


#section-01 {
  background-color: #f43;
  coor: white;
  text-align: center;

  @include uppercase-helvetica-light();
  @include text-shadow(
    5px 5px 20px rgba(32, 32, 32, 0.5),
    5px 5px 10px rgba(32, 32, 32, 0.5),
    5px 5px 5px rgba(32, 32, 32, 0.25)
  );
}
