doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Palette / Layouts

    link(rel='stylesheet', href='./css/layouts.css')

  body
    .layout-container
      .layout
        .row
          .col-12
            .header
        .row
          .col-3
            .sidebar
          .col-9
            .main
        .row
          .col-12
            .footer
