mixin rect-container(n)
  .rect-container
    - for ( var i = 0; i < n; i++ )
      .rect

mixin row(n)
  .row
    - for ( var i = 0; i < 5; i++ )
      +rect-container(n)

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Palette

    link(rel='stylesheet', href='./css/rects.css')

  body
    // Inspired by Dani Kelley's 'Color Palette'
    // http://dribbble.com/shots/1309638-Color-Palette
    .colors
      .color-0
      .color-1
      .color-2

    .palette
      +row(1)
      +row(2)
      +row(3)
      +row(2)
      +row(3)

    script(src='./js/rects.js')
