/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/icons.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/icons.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/icons.scss */
body {
  margin: 0;
}

/* line 21, ../sass/icons.scss */
.section {
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/icons.scss */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
/* line 38, ../sass/icons.scss */
.buttons *,
.buttons *:before,
.buttons *:after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 43, ../sass/icons.scss */
button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 12px;
  outline: none;
  -webkit-user-select: none;
}
/* line 56, ../sass/icons.scss */
button:active {
  border: 2px solid #555;
}

/* line 62, ../sass/icons.scss */
.segment-btn .segment {
  position: absolute;
  height: 2px;
  top: 23px;
  left: 16px;
  right: 16px;
  background-color: white;
  -webkit-transform: rotate(-30deg) translateZ(0);
  -moz-transform: rotate(-30deg) translateZ(0);
  -ms-transform: rotate(-30deg) translateZ(0);
  -o-transform: rotate(-30deg) translateZ(0);
  transform: rotate(-30deg) translateZ(0);
}
/* line 72, ../sass/icons.scss */
.segment-btn .segment:before, .segment-btn .segment:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -3px;
}
/* line 82, ../sass/icons.scss */
.segment-btn .segment:before {
  left: -4px;
  margin-left: -2px;
}
/* line 87, ../sass/icons.scss */
.segment-btn .segment:after {
  right: -4px;
  margin-right: -2px;
}
/* line 94, ../sass/icons.scss */
.segment-btn:active .segment {
  -webkit-transform: rotate(-210deg) translateZ(0);
  -moz-transform: rotate(-210deg) translateZ(0);
  -ms-transform: rotate(-210deg) translateZ(0);
  -o-transform: rotate(-210deg) translateZ(0);
  transform: rotate(-210deg) translateZ(0);
  background-color: #555;
}
/* line 99, ../sass/icons.scss */
.segment-btn:active .segment:before, .segment-btn:active .segment:after {
  border-color: #555;
}

/* line 107, ../sass/icons.scss */
.polyline-btn .segment {
  position: absolute;
  height: 2px;
  left: 18px;
  right: 18px;
  background-color: white;
}
/* line 114, ../sass/icons.scss */
.polyline-btn .segment:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -3px;
  left: -4px;
  margin-left: -2px;
}
/* line 126, ../sass/icons.scss */
.polyline-btn .segment:last-child:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -3px;
  right: -4px;
  margin-right: -2px;
}
/* line 138, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(1) {
  -webkit-transform: translate3d(-10px, 3px, 0) rotate(-60deg);
  -moz-transform: translate3d(-10px, 3px, 0) rotate(-60deg);
  -ms-transform: translate3d(-10px, 3px, 0) rotate(-60deg);
  -o-transform: translate3d(-10px, 3px, 0) rotate(-60deg);
  transform: translate3d(-10px, 3px, 0) rotate(-60deg);
}
/* line 142, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(2) {
  -webkit-transform: translate3d(0, 0, 0) rotate(30deg);
  -moz-transform: translate3d(0, 0, 0) rotate(30deg);
  -ms-transform: translate3d(0, 0, 0) rotate(30deg);
  -o-transform: translate3d(0, 0, 0) rotate(30deg);
  transform: translate3d(0, 0, 0) rotate(30deg);
}
/* line 146, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(3) {
  -webkit-transform: translate3d(10px, -3px, 0) rotate(-60deg);
  -moz-transform: translate3d(10px, -3px, 0) rotate(-60deg);
  -ms-transform: translate3d(10px, -3px, 0) rotate(-60deg);
  -o-transform: translate3d(10px, -3px, 0) rotate(-60deg);
  transform: translate3d(10px, -3px, 0) rotate(-60deg);
}
/* line 152, ../sass/icons.scss */
.polyline-btn:active .segment {
  background-color: #555;
}
/* line 156, ../sass/icons.scss */
.polyline-btn:active .segment:before, .polyline-btn:active .segment:after {
  border-color: #555;
}
