/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/icons.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/icons.scss */
html, body {
  height: 100%;
}

/* line 17, ../sass/icons.scss */
body {
  margin: 0;
}

/* line 21, ../sass/icons.scss */
.section {
  width: 100%;
  height: 100%;
}

/* line 65, ../sass/icons.scss */
.buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  background-color: #ff4433;
}
/* line 75, ../sass/icons.scss */
.buttons *,
.buttons *:before,
.buttons *:after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 80, ../sass/icons.scss */
button {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background-color: transparent;
  border: 0.2rem solid white;
  border-radius: 1.25rem;
  outline: none;
  -webkit-user-select: none;
}
/* line 93, ../sass/icons.scss */
button:active {
  border: 0.2rem solid #800b00;
}

/* line 99, ../sass/icons.scss */
.segment-btn .segment {
  position: absolute;
  height: 0.2rem;
  width: 1.8rem;
  left: 1.4rem;
  background-color: white;
  -webkit-transform: rotate(-30deg) translateZ(0);
  -moz-transform: rotate(-30deg) translateZ(0);
  -ms-transform: rotate(-30deg) translateZ(0);
  -o-transform: rotate(-30deg) translateZ(0);
  transform: rotate(-30deg) translateZ(0);
}
/* line 108, ../sass/icons.scss */
.segment-btn .segment:before, .segment-btn .segment:after {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
  border-radius: 50%;
  content: "";
  position: absolute;
  border: 0.2rem solid white;
  margin-top: -0.3rem;
}
/* line 113, ../sass/icons.scss */
.segment-btn .segment:before {
  left: -0.4rem;
  margin-left: -0.2rem;
}
/* line 118, ../sass/icons.scss */
.segment-btn .segment:after {
  right: -0.4rem;
  margin-right: -0.2rem;
}
/* line 125, ../sass/icons.scss */
.segment-btn:active .segment {
  -webkit-transform: rotate(-210deg) translateZ(0);
  -moz-transform: rotate(-210deg) translateZ(0);
  -ms-transform: rotate(-210deg) translateZ(0);
  -o-transform: rotate(-210deg) translateZ(0);
  transform: rotate(-210deg) translateZ(0);
  background-color: #800b00;
}
/* line 130, ../sass/icons.scss */
.segment-btn:active .segment:before, .segment-btn:active .segment:after {
  border-color: #800b00;
}

/* line 138, ../sass/icons.scss */
.polyline-btn .segment {
  position: absolute;
  height: 0.2rem;
  width: 1rem;
  left: 0.6rem;
  background-color: white;
}
/* line 145, ../sass/icons.scss */
.polyline-btn .segment:before {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
  border-radius: 50%;
  content: "";
  position: absolute;
  border: 0.2rem solid white;
  background-color: #ff4433;
  margin-top: -0.3rem;
  left: -0.4rem;
  margin-left: -0.2rem;
}
/* line 154, ../sass/icons.scss */
.polyline-btn .segment:last-child:after {
  width: 0.4rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
  border-radius: 50%;
  content: "";
  position: absolute;
  border: 0.2rem solid white;
  margin-top: -0.3rem;
  right: -0.4rem;
  margin-right: -0.2rem;
}
/* line 161, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(1) {
  -webkit-transform: translate3d(0.2rem, 0.3rem, 0) rotate(-60deg);
  -moz-transform: translate3d(0.2rem, 0.3rem, 0) rotate(-60deg);
  -ms-transform: translate3d(0.2rem, 0.3rem, 0) rotate(-60deg);
  -o-transform: translate3d(0.2rem, 0.3rem, 0) rotate(-60deg);
  transform: translate3d(0.2rem, 0.3rem, 0) rotate(-60deg);
}
/* line 165, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(2) {
  -webkit-transform: translate3d(1.2rem, 0, 0) rotate(30deg);
  -moz-transform: translate3d(1.2rem, 0, 0) rotate(30deg);
  -ms-transform: translate3d(1.2rem, 0, 0) rotate(30deg);
  -o-transform: translate3d(1.2rem, 0, 0) rotate(30deg);
  transform: translate3d(1.2rem, 0, 0) rotate(30deg);
}
/* line 169, ../sass/icons.scss */
.polyline-btn .segment:nth-of-type(3) {
  -webkit-transform: translate3d(2.2rem, -0.3rem, 0) rotate(-60deg);
  -moz-transform: translate3d(2.2rem, -0.3rem, 0) rotate(-60deg);
  -ms-transform: translate3d(2.2rem, -0.3rem, 0) rotate(-60deg);
  -o-transform: translate3d(2.2rem, -0.3rem, 0) rotate(-60deg);
  transform: translate3d(2.2rem, -0.3rem, 0) rotate(-60deg);
}
/* line 175, ../sass/icons.scss */
.polyline-btn:active .segment {
  background-color: #800b00;
}
/* line 179, ../sass/icons.scss */
.polyline-btn:active .segment:before, .polyline-btn:active .segment:after {
  border-color: #800b00;
}
/* line 183, ../sass/icons.scss */
.polyline-btn:active .segment:nth-of-type(1) {
  -webkit-transform: translate3d(0.3rem, 0, 0) rotate(60deg);
  -moz-transform: translate3d(0.3rem, 0, 0) rotate(60deg);
  -ms-transform: translate3d(0.3rem, 0, 0) rotate(60deg);
  -o-transform: translate3d(0.3rem, 0, 0) rotate(60deg);
  transform: translate3d(0.3rem, 0, 0) rotate(60deg);
}
/* line 187, ../sass/icons.scss */
.polyline-btn:active .segment:nth-of-type(2) {
  -webkit-transform: translate3d(1.3rem, 0.2rem, 0) rotate(-40deg);
  -moz-transform: translate3d(1.3rem, 0.2rem, 0) rotate(-40deg);
  -ms-transform: translate3d(1.3rem, 0.2rem, 0) rotate(-40deg);
  -o-transform: translate3d(1.3rem, 0.2rem, 0) rotate(-40deg);
  transform: translate3d(1.3rem, 0.2rem, 0) rotate(-40deg);
}
/* line 191, ../sass/icons.scss */
.polyline-btn:active .segment:nth-of-type(3) {
  -webkit-transform: translate3d(2.3rem, 0.4rem, 0) rotate(60deg);
  -moz-transform: translate3d(2.3rem, 0.4rem, 0) rotate(60deg);
  -ms-transform: translate3d(2.3rem, 0.4rem, 0) rotate(60deg);
  -o-transform: translate3d(2.3rem, 0.4rem, 0) rotate(60deg);
  transform: translate3d(2.3rem, 0.4rem, 0) rotate(60deg);
}

/* line 199, ../sass/icons.scss */
.remove-btn .segment {
  position: absolute;
  height: 0.2rem;
  width: 3rem;
  left: 0.8rem;
  background-color: white;
}
/* line 206, ../sass/icons.scss */
.remove-btn .segment:first-of-type {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 210, ../sass/icons.scss */
.remove-btn .segment:last-of-type {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 216, ../sass/icons.scss */
.remove-btn:active .segment {
  background-color: #800b00;
  width: 2rem;
  left: 1.3rem;
}

/* line 225, ../sass/icons.scss */
.light-btn .light {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  margin-left: -0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 0.2rem solid white;
}
/* line 236, ../sass/icons.scss */
.light-btn .segment {
  position: absolute;
  height: 0.2rem;
  width: 0.5rem;
  left: 50%;
  margin-left: -0.25rem;
  background-color: white;
}
/* line 244, ../sass/icons.scss */
.light-btn .segment:nth-of-type(2n) {
  width: 0.3rem;
  margin-left: -0.15rem;
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(1) {
  -webkit-transform: rotateZ(0deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(0deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(0deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(0deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(0deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(2) {
  -webkit-transform: rotateZ(45deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(45deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(45deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(45deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(45deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(3) {
  -webkit-transform: rotateZ(90deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(90deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(90deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(90deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(90deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(4) {
  -webkit-transform: rotateZ(135deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(135deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(135deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(135deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(135deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(5) {
  -webkit-transform: rotateZ(180deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(180deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(180deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(180deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(180deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(6) {
  -webkit-transform: rotateZ(225deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(225deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(225deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(225deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(225deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(7) {
  -webkit-transform: rotateZ(270deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(270deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(270deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(270deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(270deg) translate3d(1.2rem, 0, 0);
}
/* line 250, ../sass/icons.scss */
.light-btn .segment:nth-of-type(8) {
  -webkit-transform: rotateZ(315deg) translate3d(1.2rem, 0, 0);
  -moz-transform: rotateZ(315deg) translate3d(1.2rem, 0, 0);
  -ms-transform: rotateZ(315deg) translate3d(1.2rem, 0, 0);
  -o-transform: rotateZ(315deg) translate3d(1.2rem, 0, 0);
  transform: rotateZ(315deg) translate3d(1.2rem, 0, 0);
}
/* line 257, ../sass/icons.scss */
.light-btn:active .light {
  width: 1.7rem;
  height: 1.7rem;
  margin-top: -0.85rem;
  margin-left: -0.85rem;
  border-radius: 50%;
  background-color: #800b00;
  border-color: #800b00;
}
/* line 263, ../sass/icons.scss */
.light-btn:active .segment {
  background-color: #800b00;
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(1) {
  -webkit-transform: rotateZ(0deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(0deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(0deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(0deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(0deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(2) {
  -webkit-transform: rotateZ(45deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(45deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(45deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(45deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(45deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(3) {
  -webkit-transform: rotateZ(90deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(90deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(90deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(90deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(90deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(4) {
  -webkit-transform: rotateZ(135deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(135deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(135deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(135deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(135deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(5) {
  -webkit-transform: rotateZ(180deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(180deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(180deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(180deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(180deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(6) {
  -webkit-transform: rotateZ(225deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(225deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(225deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(225deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(225deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(7) {
  -webkit-transform: rotateZ(270deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(270deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(270deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(270deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(270deg) translate3d(1.5rem, 0, 0);
}
/* line 267, ../sass/icons.scss */
.light-btn:active .segment:nth-of-type(8) {
  -webkit-transform: rotateZ(315deg) translate3d(1.5rem, 0, 0);
  -moz-transform: rotateZ(315deg) translate3d(1.5rem, 0, 0);
  -ms-transform: rotateZ(315deg) translate3d(1.5rem, 0, 0);
  -o-transform: rotateZ(315deg) translate3d(1.5rem, 0, 0);
  transform: rotateZ(315deg) translate3d(1.5rem, 0, 0);
}

/* line 276, ../sass/icons.scss */
.transform-btn .square {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -1.25rem;
  margin-left: -1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.2rem solid white;
}
/* line 285, ../sass/icons.scss */
.transform-btn .square .corner {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.4rem;
  margin-left: -0.4rem;
  position: absolute;
  background-color: #ff4433;
  border: 0.2rem solid white;
}
/* line 292, ../sass/icons.scss */
.transform-btn .square .corner:nth-of-type(2n) {
  left: 100%;
}
/* line 296, ../sass/icons.scss */
.transform-btn .square .corner:nth-of-type(n+3) {
  top: 100%;
}
/* line 303, ../sass/icons.scss */
.transform-btn:active .square {
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border-color: #800b00;
}
/* line 307, ../sass/icons.scss */
.transform-btn:active .square .corner {
  border-color: #800b00;
}

/* line 315, ../sass/icons.scss */
.move-btn .segment {
  position: absolute;
  left: 1rem;
  width: 2.5rem;
  height: 0.2rem;
  background-color: white;
}
/* line 324, ../sass/icons.scss */
.move-btn .segment:last-of-type {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/* line 329, ../sass/icons.scss */
.move-btn .segment:before, .move-btn .segment:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.4rem solid transparent;
  top: -0.3rem;
}
/* line 342, ../sass/icons.scss */
.move-btn .segment:before {
  left: -0.7rem;
  border-right-width: 0.7rem;
  border-right-color: white;
}
/* line 348, ../sass/icons.scss */
.move-btn .segment:after {
  right: -0.7rem;
  border-left-width: 0.7rem;
  border-left-color: white;
}
/* line 356, ../sass/icons.scss */
.move-btn:active .segment {
  left: 1.25rem;
  width: 2rem;
  background-color: #800b00;
}
/* line 361, ../sass/icons.scss */
.move-btn:active .segment:before {
  border-right-color: #800b00;
}
/* line 365, ../sass/icons.scss */
.move-btn:active .segment:after {
  border-left-color: #800b00;
}

/* line 378, ../sass/icons.scss */
.polygon-btn .triangle {
  -webkit-transform: translate3d(0, 0.2rem, 0);
  -moz-transform: translate3d(0, 0.2rem, 0);
  -ms-transform: translate3d(0, 0.2rem, 0);
  -o-transform: translate3d(0, 0.2rem, 0);
  transform: translate3d(0, 0.2rem, 0);
}
/* line 382, ../sass/icons.scss */
.polygon-btn .segment {
  position: absolute;
  width: 2.25rem;
  height: 0.2rem;
  margin-left: 0.85rem;
  margin-top: 0.54952rem;
  background-color: white;
}
/* line 393, ../sass/icons.scss */
.polygon-btn .segment:nth-of-type(1) {
  -webkit-transform: rotateZ(-60deg);
  -moz-transform: rotateZ(-60deg);
  -ms-transform: rotateZ(-60deg);
  -o-transform: rotateZ(-60deg);
  transform: rotateZ(-60deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 398, ../sass/icons.scss */
.polygon-btn .segment:nth-of-type(2) {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 402, ../sass/icons.scss */
.polygon-btn .segment:nth-of-type(3) {
  -webkit-transform: rotateZ(60deg);
  -moz-transform: rotateZ(60deg);
  -ms-transform: rotateZ(60deg);
  -o-transform: rotateZ(60deg);
  transform: rotateZ(60deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 408, ../sass/icons.scss */
.polygon-btn .vertex {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.4rem;
  margin-left: -0.4rem;
  border-radius: 50%;
  position: absolute;
  top: 0.7rem;
  left: 0.9rem;
  border: 0.2rem solid white;
  background-color: #ff4433;
}
/* line 420, ../sass/icons.scss */
.polygon-btn .vertex:nth-of-type(1) {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 424, ../sass/icons.scss */
.polygon-btn .vertex:nth-of-type(2) {
  -webkit-transform: translate3d(2.25rem, 0, 0);
  -moz-transform: translate3d(2.25rem, 0, 0);
  -ms-transform: translate3d(2.25rem, 0, 0);
  -o-transform: translate3d(2.25rem, 0, 0);
  transform: translate3d(2.25rem, 0, 0);
}
/* line 428, ../sass/icons.scss */
.polygon-btn .vertex:nth-of-type(3) {
  -webkit-transform: translate3d(1.125rem, -1.94856rem, 0);
  -moz-transform: translate3d(1.125rem, -1.94856rem, 0);
  -ms-transform: translate3d(1.125rem, -1.94856rem, 0);
  -o-transform: translate3d(1.125rem, -1.94856rem, 0);
  transform: translate3d(1.125rem, -1.94856rem, 0);
}
/* line 434, ../sass/icons.scss */
.polygon-btn:active .triangle {
  -webkit-transform: translate3d(0, 0.2rem, 0) rotateZ(-120deg);
  -moz-transform: translate3d(0, 0.2rem, 0) rotateZ(-120deg);
  -ms-transform: translate3d(0, 0.2rem, 0) rotateZ(-120deg);
  -o-transform: translate3d(0, 0.2rem, 0) rotateZ(-120deg);
  transform: translate3d(0, 0.2rem, 0) rotateZ(-120deg);
}
/* line 438, ../sass/icons.scss */
.polygon-btn:active .segment {
  background-color: #800b00;
}
/* line 442, ../sass/icons.scss */
.polygon-btn:active .vertex {
  border-color: #800b00;
}

/* line 452, ../sass/icons.scss */
.polygon-svg-btn svg {
  width: 3rem;
  height: 3rem;
}
/* line 456, ../sass/icons.scss */
.polygon-svg-btn svg polygon {
  stroke-width: 0.06667;
  stroke: white;
  fill: none;
}
/* line 462, ../sass/icons.scss */
.polygon-svg-btn svg circle {
  stroke: white;
  stroke-width: 0.06667;
  fill: #ff4433;
}
/* line 470, ../sass/icons.scss */
.polygon-svg-btn:active svg {
  -webkit-transform: rotateZ(120deg);
  -moz-transform: rotateZ(120deg);
  -ms-transform: rotateZ(120deg);
  -o-transform: rotateZ(120deg);
  transform: rotateZ(120deg);
}
/* line 473, ../sass/icons.scss */
.polygon-svg-btn:active svg polygon {
  stroke: #800b00;
}
/* line 477, ../sass/icons.scss */
.polygon-svg-btn:active svg circle {
  stroke: #800b00;
}
