/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 20, ../sass/screen.scss */
.section {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/screen.scss */
.oblivion {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 7px rgba(0, 255, 255, 0.75);
  font-family: "nudista-web", Monaco, Consolas, "Courier New", Courier, monospace;
  font-family: "proxima-nova";
  font-weight: 100;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

/* line 39, ../sass/screen.scss */
.oblivion-css #css-dashed-circle {
  position: relative;
  top: 50%;
  left: 50%;
}
/* line 44, ../sass/screen.scss */
.oblivion-css #css-dashed-circle .tick {
  position: absolute;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  margin-top: -0.5px;
  box-shadow: 0 0 3px #00c0ff;
  background-color: white;
  color: lightcyan;
}
/* line 54, ../sass/screen.scss */
.oblivion-css #css-dashed-circle .tick .angle {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  left: 120%;
  margin-top: -4px;
  font-size: 9pt;
}
/* line 63, ../sass/screen.scss */
.oblivion-css #css-dashed-circle .minor {
  width: 10px;
  height: 1px;
  margin-left: -5px;
  margin-top: -0.5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(192, 224, 255, 0.75);
}
/* line 71, ../sass/screen.scss */
.oblivion-css #css-dashed-circle .minor .angle {
  font-size: 7pt;
}
/* line 78, ../sass/screen.scss */
.oblivion-css #css-canvas {
  position: absolute;
}

/* line 83, ../sass/screen.scss */
.oblivion-canvas {
  overflow: hidden;
}
/* line 85, ../sass/screen.scss */
.oblivion-canvas #dashed-circle {
  position: relative;
}
/* line 89, ../sass/screen.scss */
.oblivion-canvas .button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: relative;
  width: 128px;
  height: 48px;
  top: 50%;
  left: 50%;
  margin-left: -64px;
  margin-top: -24px;
  text-align: center;
  border: 1px solid rgba(192, 224, 255, 0.5);
  border-top: transparent;
  border-bottom: transparent;
}
/* line 110, ../sass/screen.scss */
.oblivion-canvas .button .text {
  width: 100%;
}
/* line 114, ../sass/screen.scss */
.oblivion-canvas .button .node {
  position: absolute;
  width: 3px;
  height: 3px;
  margin-left: -1.5px;
  margin-top: -1.5px;
  background-color: #c0f0ff;
}
/* line 122, ../sass/screen.scss */
.oblivion-canvas .button .node:nth-of-type(2) {
  left: 100%;
}
/* line 126, ../sass/screen.scss */
.oblivion-canvas .button .node:nth-of-type(3) {
  top: 100%;
}
/* line 130, ../sass/screen.scss */
.oblivion-canvas .button .node:nth-of-type(4) {
  top: 100%;
  left: 100%;
}
