/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/social.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/social.scss */
html, body {
  height: 100%;
}

/* line 19, ../sass/social.scss */
body {
  margin: 0;
}

/* line 23, ../sass/social.scss */
.section {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes shake {
  /* line 47, ../sass/social.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 51, ../sass/social.scss */
  20% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  /* line 51, ../sass/social.scss */
  40% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  /* line 51, ../sass/social.scss */
  60% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  /* line 55, ../sass/social.scss */
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes shake {
  /* line 47, ../sass/social.scss */
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 51, ../sass/social.scss */
  20% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  /* line 51, ../sass/social.scss */
  40% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  /* line 51, ../sass/social.scss */
  60% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  /* line 55, ../sass/social.scss */
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/* line 58, ../sass/social.scss */
.section#section-00 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #99bbee;
  background-color: #222;
  min-height: 640px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 59, ../sass/social.scss */
.section#section-00 * {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 70, ../sass/social.scss */
.section#section-00 .login-box {
  width: 320px;
  height: 480px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* line 84, ../sass/social.scss */
.section#section-00 .login-box .face {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #99bbee;
  position: relative;
  background-color: #dbe7f9;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 94, ../sass/social.scss */
.section#section-00 .login-box .face .eyes {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 98, ../sass/social.scss */
.section#section-00 .login-box .face .eyes .eye {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #99bbee;
  margin: 5px;
  margin-top: -7px;
}
/* line 109, ../sass/social.scss */
.section#section-00 .login-box .face .mouth {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  bottom: 10px;
  left: 50%;
  border-radius: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #99bbee;
}
/* line 128, ../sass/social.scss */
.section#section-00 .login-box hr {
  width: 80%;
  height: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 30px;
}
/* line 136, ../sass/social.scss */
.section#section-00 .login-box .form-group {
  width: 80%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 141, ../sass/social.scss */
.section#section-00 .login-box input {
  margin: 5px 0 5px 10%;
  padding: 7px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #78a;
}
/* line 150, ../sass/social.scss */
.section#section-00 .login-box input:focus {
  color: black;
  outline: none;
  border: 2px solid #99bbee;
}
/* line 157, ../sass/social.scss */
.section#section-00 .login-box .login-btn {
  width: 80%;
  height: 50px;
  margin: 25px;
  border-radius: 5px;
  border: none;
  background-color: #ff5544;
  color: white;
  font-size: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0 5px 0 #dd1400;
  -moz-box-shadow: 0 5px 0 #dd1400;
  box-shadow: 0 5px 0 #dd1400;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 172, ../sass/social.scss */
.section#section-00 .login-box .login-btn:focus {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 177, ../sass/social.scss */
.section#section-00 .login-box .login-btn:active {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 184, ../sass/social.scss */
.section#section-00 .shake {
  -webkit-animation: shake 0.2s;
  animation: shake 0.2s;
}

/* line 194, ../sass/social.scss */
.section#section-01 {
  background-color: #444;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100px;
}
/* line 199, ../sass/social.scss */
.section#section-01 .navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 206, ../sass/social.scss */
.section#section-01 .navbar .home {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  margin-left: 20px;
  font-weight: bold;
}
/* line 214, ../sass/social.scss */
.section#section-01 .navbar .links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-right: 20px;
}
/* line 223, ../sass/social.scss */
.section#section-01 .navbar .links li {
  margin: 0 20px;
  display: inline;
}
/* line 229, ../sass/social.scss */
.section#section-01 .navbar a, .section#section-01 .navbar a:active, .section#section-01 .navbar a:visited {
  color: #ff4455;
  text-decoration: none;
}

/* line 237, ../sass/social.scss */
.section#section-02 {
  background-color: #333;
  font-family: Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: 0.6em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}
/* line 238, ../sass/social.scss */
.section#section-02 * {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 250, ../sass/social.scss */
.section#section-02 .post {
  width: 320px;
  height: 480px;
  padding: 50px;
  border: 1px solid #ccc;
  background-color: white;
  color: #ccc;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 267, ../sass/social.scss */
.section#section-02 .post .title {
  font-size: 2em;
  color: #555;
  margin-bottom: 15px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}
/* line 276, ../sass/social.scss */
.section#section-02 .post .content p {
  line-height: 2;
}
/* line 281, ../sass/social.scss */
.section#section-02 .post:hover {
  -webkit-transform: rotateY(30deg);
  -moz-transform: rotateY(30deg);
  -ms-transform: rotateY(30deg);
  -o-transform: rotateY(30deg);
  transform: rotateY(30deg);
}
