@import "compass/reset";

.test {
  width: 200px;
  height: 200px;
  background-color: #888;

  -webkit-transition: -webkit-filter 1s linear;

  -webkit-filter: #{"custom(
    url(../shaders/shader.vert)
    mix(url(../shaders/shader.frag) normal source-atop),
    16 16, time 0, green 0
  )"};

  &:hover {
    -webkit-filter: #{"custom(
      url(../shaders/shader.vert)
      mix(url(../shaders/shader.frag) normal source-atop),
      16 16, time 1, green 1
    )"};
  }
}


.warp-test {
  width: 200px;
  height: 200px;

  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;

  // Center text.
  display: flex;
  align-items: center;
  text-align: center;

  -webkit-transition: -webkit-filter 0.2s linear;

  -webkit-filter: #{"custom(
    url(../shaders/warp.vert)
    mix(url(../shaders/warp.frag) normal destination-over),
    8 8,
    k array(0.5, 0.9, 0, 0.6),
    matrix perspective(20) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  )"};

  &:hover {
    -webkit-filter: #{"custom(
      url(../shaders/warp.vert)
      mix(url(../shaders/warp.frag) normal destination-over),
      8 8,
      k array(0.9, 0, 0.6, 0.5),
      matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg)
    )"};
  }
}
