@import "compass/reset";

@import "../../illustrations/sass/modules/animation";

.test {
  float: left;

  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
}


.transition-test {
  width: 200px;
  height: 200px;
  background-color: #888;

  -webkit-transition: -webkit-filter 0.3s;

  -webkit-filter: #{"custom(
    url(../shaders/shader.vert)
    mix(url(../shaders/shader.frag) normal source-atop),
    16 16, time 0.0, green 0.0
  )"};

  &:hover {
    -webkit-filter: #{"custom(
      url(../shaders/shader.vert)
      mix(url(../shaders/shader.frag) normal source-atop),
      16 16, time 1.0, green 1.0
    )"};
  }
}


$warp-start: "custom(
  url(../shaders/warp.vert)
  mix(url(../shaders/warp.frag) normal destination-over),
  8 8,
  k array(0.5, 0.9, 0.0, 0.6),
  matrix perspective(20) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
)";

$warp-end: "custom(
  url(../shaders/warp.vert)
  mix(url(../shaders/warp.frag) normal destination-over),
  8 8,
  k array(0.9, 0.0, 0.6, 0.5),
  matrix perspective(20) scale(0.25) rotateX(10deg) rotateY(0deg) rotateZ(90deg)
)";


.warp-test {
  width: 200px;
  height: 200px;

  // Center text.
  display: flex;
  align-items: center;
  text-align: center;

  -webkit-transition: -webkit-filter 0.2s;
  -webkit-filter: #{$warp-start};

  &:hover {
    -webkit-filter: #{$warp-end};
  }
}


@include keyframes(animation) {
  0%   { -webkit-filter: #{$warp-start}; }
  100% { -webkit-filter: #{$warp-end};   }
}

.animation-test {
  width: 200px;
  height: 200px;

  &:hover {
    @include animation(animation 0.6s infinite alternate);
  }

  -webkit-filter: #{$warp-end};
}

.mouse-test {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;

  -webkit-filter: #{"custom(
    url(../shaders/mouse.vert)
    mix(url(../shaders/mouse.frag) multiply source-atop),
    16 16,
    mouse 0.0 0.0
  )"};
}
