!!! 5
%html(lang="en")
  %head
  %head
    %meta(charset="UTF-8")
    %title Physical Animation

    %link(rel="stylesheet" href="./stylesheets/physical-animation.css")
  %body
    .test.transition-test
    .test.warp-test Hello world!
    .test.animation-test Animation test!
    %script(src="./js/main.js")
