doctype html
mixin faces
  each direction in [ 'top', 'bottom', 'back', 'front', 'left', 'right' ]
    div(class='face ' + direction)

mixin parts(elements)
  each element in elements
    div(class=element)
      +faces

//- We're using Jade due to the ease of creating mixins.
mixin A
  +parts(['left-stroke', 'right-stroke', 'crossbar'])

mixin B
  +parts(['vertical-stroke', 'top-stroke', 'middle-stroke', 'bottom-stroke', 'top-vertical-stroke', 'bottom-vertical-stroke'])

mixin C
  +parts(['vertical-stroke', 'top-stroke', 'bottom-stroke'])

mixin D
  +parts(['vertical-stroke', 'top-stroke', 'bottom-stroke', 'right-stroke'])

mixin E
  +parts(['vertical-stroke', 'top-stroke', 'middle-stroke', 'bottom-stroke'])

mixin F
  +parts(['vertical-stroke', 'top-stroke', 'middle-stroke'])

mixin G
  +parts(['vertical-stroke', 'top-stroke', 'bottom-stroke', 'small-vertical-stroke', 'chin'])

mixin H
  +parts(['left-stroke', 'right-stroke', 'crossbar'])

mixin I
  +parts(['vertical-stroke'])

mixin J
  +parts(['vertical-stroke', 'right-curl', 'left-curl'])

mixin K
  +parts(['vertical-stroke', 'top-stroke', 'bottom-stroke'])

mixin L
  +parts(['vertical-stroke', 'bottom-stroke'])

mixin M
  +parts(['left-outer-stroke', 'left-inner-stroke', 'right-inner-stroke', 'right-outer-stroke'])

mixin N
  +parts(['left-stroke', 'right-stroke', 'diagonal'])

mixin O
  +parts(['top-stroke', 'right-stroke', 'bottom-stroke', 'left-stroke'])

mixin P
  +parts(['vertical-stroke', 'top-stroke', 'middle-stroke', 'right-stroke'])

mixin Q
  +parts(['top-stroke', 'right-stroke', 'bottom-stroke', 'left-stroke', 'tail'])

mixin R
  +parts(['vertical-stroke', 'top-stroke', 'middle-stroke', 'right-stroke', 'tail'])

mixin S
  +parts(['top-stroke', 'middle-stroke', 'bottom-stroke', 'left-stroke', 'right-stroke'])

mixin T
  +parts(['vertical-stroke', 'horizontal-stroke'])

mixin U
  +parts(['left-stroke', 'right-stroke', 'bottom-stroke'])

mixin W
  +parts(['left-outer-stroke', 'left-inner-stroke', 'right-inner-stroke', 'right-outer-stroke'])

mixin V
  +parts(['left-stroke', 'right-stroke'])

mixin X
  +parts(['back-stroke', 'forward-stroke'])

mixin Y
  +parts(['left-stroke', 'right-stroke', 'vertical-stroke'])

mixin Z
  +parts(['top-stroke', 'bottom-stroke', 'diagonal'])

html(lang='en')
  head
    meta(charset='UTF-8')
    title Alphabet

    link(rel='stylesheet' href='./stylesheets/alphabet.css')
  body(ontouchstart='')

    .letter-container.A
      .letter A
      .front-view
        +A
      .isometric-view
        +A

    .letter-container.B
      .letter B
      .front-view
        +B
      .isometric-view
        +B

    .letter-container.C
      .letter C
      .front-view
        +C
      .isometric-view
        +C

    .letter-container.D
      .letter D
      .front-view
        +D
      .isometric-view
        +D

    .letter-container.E
      .letter E
      .front-view
        +E
      .isometric-view
        +E

    .letter-container.F
      .letter F
      .front-view
        +F
      .isometric-view
        +F

    .letter-container.G
      .letter G
      .front-view
        +G
      .isometric-view
        +G

    .letter-container.H
      .letter H
      .front-view
        +H
      .isometric-view
        +H

    .letter-container.I
      .letter I
      .front-view
        +I
      .isometric-view
        +I

    .letter-container.J
      .letter J
      .front-view
        +J
      .isometric-view
        +J

    .letter-container.K
      .letter K
      .front-view
        +K
      .isometric-view
        +K

    .letter-container.L
      .letter L
      .front-view
        +L
      .isometric-view
        +L

    .letter-container.M
      .letter M
      .front-view
        +M
      .isometric-view
        +M

    .letter-container.N
      .letter N
      .front-view
        +N
      .isometric-view
        +N

    .letter-container.O
      .letter O
      .front-view
        +O
      .isometric-view
        +O

    .letter-container.P
      .letter P
      .front-view
        +P
      .isometric-view
        +P

    .letter-container.Q
      .letter Q
      .front-view
        +Q
      .isometric-view
        +Q

    .letter-container.R
      .letter R
      .front-view
        +R
      .isometric-view
        +R

    .letter-container.S
      .letter S
      .front-view
        +S
      .isometric-view
        +S

    .letter-container.T
      .letter T
      .front-view
        +T
      .isometric-view
        +T

    .letter-container.U
      .letter U
      .front-view
        +U
      .isometric-view
        +U

    .letter-container.V
      .letter V
      .front-view
        +V
      .isometric-view
        +V

    .letter-container.W
      .letter W
      .front-view
        +W
      .isometric-view
        +W

    .letter-container.X
      .letter X
      .front-view
        +X
      .isometric-view
        +X

    .letter-container.Y
      .letter Y
      .front-view
        +Y
      .isometric-view
        +Y

    .letter-container.Z
      .letter Z
      .front-view
        +Z
      .isometric-view
        +Z
