mixin faces(directions)
  each direction in directions
    div(class='face ' + direction)

mixin building
  +faces(['top', 'back', 'front', 'left', 'right'])

mixin edged-roof
  +faces(['front-top', 'back-top', 'left-top', 'right-top'])
  +faces(['front-interior', 'back-interior', 'left-interior', 'right-interior'])

mixin building-edged-roof
  +building
  +edged-roof

//- Only the edge, with no top face.
mixin edged-roof-extension
  +faces(['back', 'front', 'left', 'right'])
  +edged-roof

mixin building-missing-corner
  +building
  div(class='face top short')

mixin building-edged-roof-missing-corner
  +building-missing-corner
  +edged-roof

!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    title City 3D 02

    link(rel='stylesheet', href='./stylesheets/city-3d_02.css')
  body(ontouchstart='')
    .container
      .scene.rotatable
        .building
          .a
            +building-missing-corner()
          .b
            +building()
            .c
              +edged-roof-extension()
    .container
      .scene.rotatable
        .building
          .d
            +building-edged-roof-missing-corner()



