!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title City 3D

    %link(rel="stylesheet" href="./stylesheets/city-3d.css")
  %body
    .container
      %button.rotate.rotateX Rotate X
      %button.rotate.rotateY Rotate Y
      .building
        .top
        .bottom
        .front
        .back
        .left
        .right
