!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title City 3D

    %link(rel="stylesheet" href="./stylesheets/city-3d.css")
  %body
    .container
      %button.rotate.rotateX Rotate X
      %button.rotate.rotateY Rotate Y
      .building-test
        .top
        .bottom
        .front
        .back
        .left
        .right
    .scene.buildings
      -(1..16).each do |i|
        .building
          .top
          .bottom
          .front
          .back
          .left
          .right
