!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title City 3D

    %link(rel="stylesheet" href="./stylesheets/city-3d.css")
  %body
    - faces = ['top', 'bottom', 'front', 'back', 'left', 'right']
    .container
      %button.rotate.rotateX Rotate X
      %button.rotate.rotateY Rotate Y

      .building-test
        - faces.each do |face|
          %div{:class => face}

    .scene.buildings
      - (1..16).each do |i|
        .building
          - faces.each do |face|
            %div{:class => face}
      .ground
        - faces.each do |face|
          %div{:class => face}
