!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title City 3D

    %link(rel="stylesheet" href="./stylesheets/city-3d.css")
  %body
    - def faces
    -   ['top', 'bottom', 'front', 'back', 'left', 'right'].each do |face|
    -     haml_tag :div, :class => face
    -   end;
    - end;

    .container
      %button.rotate.rotateX Rotate X
      %button.rotate.rotateY Rotate Y

      .building-test
        - faces

    .scene.buildings
      - (1..16).each do |i|
        .building
          - faces
      .ground
        - faces

    .scene.robot
      .body
        .head
          - faces

        .chest
          - faces

          .arm.arm-left
            .upper-arm
              - faces
              .lower-arm
                - faces
                .hand
                  - faces

          .arm.arm-right
            .upper-arm
              - faces
              .lower-arm
                - faces
                .hand
                  - faces

        .hips
          - faces

          .leg.leg-left
            .upper-leg
              - faces
              .lower-leg
                - faces
                .foot
                  - faces

          .leg.leg-right
            .upper-leg
              - faces
              .lower-leg
                - faces
                .foot
                  - faces
