!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title City 3D

    %link(rel="stylesheet" href="./stylesheets/city-3d.css")
  %body
    - faces = ['top', 'bottom', 'front', 'back', 'left', 'right']
    .container
      %button.rotate.rotateX Rotate X
      %button.rotate.rotateY Rotate Y

      .building-test
        - faces.each do |face|
          %div{:class => face}

    .scene.buildings
      - (1..16).each do |i|
        .building
          - faces.each do |face|
            %div{:class => face}
      .ground
        - faces.each do |face|
          %div{:class => face}

    .scene.robot
      .body
        .torso
          - faces.each do |face|
            %div{:class => face}

          .head
            - faces.each do |face|
              %div{:class => face}

          .arm.arm-left
            .upper-arm
              - faces.each do |face|
                %div{:class => face}

              .lower-arm
                - faces.each do |face|
                  %div{:class => face}

                .hand
                  - faces.each do |face|
                    %div{:class => face}


          .arm.arm-right
            .upper-arm
              - faces.each do |face|
                %div{:class => face}

              .lower-arm
                - faces.each do |face|
                  %div{:class => face}

                .hand
                  - faces.each do |face|
                    %div{:class => face}

          .leg.leg-left
            .upper-leg
              - faces.each do |face|
                %div{:class => face}

              .lower-leg
                - faces.each do |face|
                  %div{:class => face}

                .foot
                  - faces.each do |face|
                    %div{:class => face}

          .leg.leg-right
            .upper-leg
              - faces.each do |face|
                %div{:class => face}

              .lower-leg
                - faces.each do |face|
                  %div{:class => face}

                .foot
                  - faces.each do |face|
                    %div{:class => face}
