!!! 5
%html(lang="en")
  %head
  %head
    %meta(charset="UTF-8")
    %title Hilbert Curve

    %link(rel="stylesheet" href="./stylesheets/hilbert-curve.css")
  %body
    %canvas#canvas
    .section#hilbert3d
    %script(src="./js/hilbert-curve.js")
