!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Animations

    %link(rel="stylesheet" href="./stylesheets/loading-animations.css")
  %body
    .circle
    .circle-b
    .text#percentage 0
    %script(src="./js/loading-animations.js")


