!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Animations

    %link(rel="stylesheet" href="./stylesheets/loading-animations.css")
  %body
    .animation#animation-00
      .circle#inner
      .circle#outer
      .counter 0

    .animation#animation-01
      .line#left
      .line#center
      .line#right

    %script(src="./js/loading-animations.js")


