!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Animations

    %link(rel="stylesheet" href="./stylesheets/loading-animations.css")
  %body
    .animation#animation-00
      .circle#inner
      .circle#outer
      .counter 0

    .animation#animation-01
      -(1..4).each do |i|
        .row
          -(1..4).each do |j|
            .box

    %script(src="./js/loading-animations.js")


