!!! 5
mixin faces
  each direction in [ 'top', 'bottom', 'back', 'front', 'left', 'right' ]
    div(class='face ' + direction)

//- This isn't really an illustration but since we're using the box SASS module,
//- it's just easier to place it here.
html(lang='en')
  head
    meta(charset='UTF-8')
    title Motion Camera

    link(rel='stylesheet', href='./stylesheets/motion-camera.css')
  body(ontouchstart='')
    .debug
      .rotation
        .alpha
        .beta
        .gamma
      .acceleration
        .ax
        .ay
        .az
      .rotation-rate
        .rotation-rate-alpha
        .rotation-rate-beta
        .rotation-rate-gamma
      .interval
      .camera
        .camera-x
        .camera-y
        .camera-z

    .container.body
      .box.back-top-left
        +faces

      .box.back-top-right
        +faces

      .box.back-bottom-left
        +faces

      .box.back-bottom-right
        +faces

      .box.center
        +faces

      .box.front-top-left
        +faces

      .box.front-top-right
        +faces

      .box.front-bottom-left
        +faces

      .box.front-bottom-right
        +faces

    .help
      p SHIFT to activate free look.
      p WASD to move along ground plane (XZ).
      p Up/down arrows to move up and down.
      p R to reset.

    script(src='./js/motion-camera.js')

