!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Robot 3D

    %link(rel="stylesheet" href="./stylesheets/robot-3d.css")
  %body
    - def faces
    -   ['top', 'bottom', 'back', 'front', 'left', 'right'].each do |direction|
    -     haml_tag :div, :class => ['face', direction] end
    - end;

    - def limb(upper, lower, terminal)
    -   haml_tag :div, :class => upper do faces
    -     haml_tag :div, :class => lower do faces
    -       haml_tag :div, :class => terminal do faces end
    -     end;
    -   end;
    - end;

    - def arm; limb('upper-arm', 'lower-arm', 'hand') end
    - def leg; limb('upper-leg', 'lower-leg', 'foot') end

    .scene.robot
      .body
        .head
          - faces

        .chest
          - faces

          .arm.arm-left
            - arm

          .arm.arm-right
            - arm

        .hips
          - faces

          .leg.leg-left
            - leg

          .leg.leg-right
            - leg

    %script(src='./js/robot-3d.js')
