!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Top Down City

    %link(rel="stylesheet" href="./stylesheets/top-down-city.css")
  %body
    .shadows
      -(1..16).each do |i|
        .shadow
    .buildings
      -(1..16).each do |i|
        .building

    %script(src="./js/top-down-city.js")
