doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sherlock

    link(rel='stylesheet' href='./stylesheets/sherlock.css')
  body(ontouchstart='')
    .container
      .phone
        .face.front
        .face.right
        .face.bottom
        .text wrong!
