!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title Text Shadow Effect

    %link(rel="stylesheet" href="./stylesheets/text-shadow-effects.css")

    <script type="text/javascript" src="//use.typekit.net/mxa2bdi.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    / Recreating the text shadow effects from Retrolift.
    / http://www.retrosupply.co/products/retrolift
    .section#section-00
      .text retro
    .section#section-01
      .text crust
    .section#section-02
      .text give


