/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Creates a box centered at (0, 0, 0) with dimension
 * $width, $height, and $depth.
 *
 * Each box consists of six elements with the generic 'face' class.
 * Each element also has a class for a specific direction:
 *
 *    top, bottom,
 *    front, back,
 *    left, right
 *
 *  e.g., .face.top
 */
/**
 * A building is a box without a bottom face. Unlike a box, which is centered on
 * the origin, the building's bottom has a y-coordinate of 0.
 */
/**
 * A building with an edged roof insets the top edge and adds
 * border faces (top and interior sides).
 */
/**
 * A building missing the back left corner.
 */
/* line 6, ../sass/city-3d_02.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/city-3d_02.scss */
.scene {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 17, ../sass/city-3d_02.scss */
.container {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: center top;
  -moz-perspective-origin: center top;
  -ms-perspective-origin: center top;
  -o-perspective-origin: center top;
  perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 54, ../sass/city-3d_02.scss */
.building {
  -webkit-transform: translate3d(300px, 400px, 0);
  -moz-transform: translate3d(300px, 400px, 0);
  -ms-transform: translate3d(300px, 400px, 0);
  -o-transform: translate3d(300px, 400px, 0);
  transform: translate3d(300px, 400px, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 21, ../sass/modules/_box.scss */
.building .face {
  position: absolute;
}
/* line 25, ../sass/modules/_box.scss */
.building .top, .building .bottom {
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
}
/* line 33, ../sass/modules/_box.scss */
.building .top {
  -webkit-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -100px, 0) rotateX(90deg);
  transform: translate3d(0, -100px, 0) rotateX(90deg);
}
/* line 34, ../sass/modules/_box.scss */
.building .bottom {
  -webkit-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -o-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  transform: translate3d(0, 100px, 0) rotateX(-90deg);
}
/* line 36, ../sass/modules/_box.scss */
.building .back, .building .front {
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
}
/* line 44, ../sass/modules/_box.scss */
.building .back {
  -webkit-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -moz-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -ms-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -o-transform: translate3d(0, 0, -75px) rotateY(180deg);
  transform: translate3d(0, 0, -75px) rotateY(180deg);
}
/* line 45, ../sass/modules/_box.scss */
.building .front {
  -webkit-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -moz-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -ms-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -o-transform: translate3d(0, 0, 75px) rotateY(0deg);
  transform: translate3d(0, 0, 75px) rotateY(0deg);
}
/* line 47, ../sass/modules/_box.scss */
.building .left, .building .right {
  width: 150px;
  height: 200px;
  margin-left: -75px;
  margin-top: -100px;
}
/* line 55, ../sass/modules/_box.scss */
.building .left {
  -webkit-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -moz-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -o-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  transform: translate3d(-150px, 0, 0) rotateY(-90deg);
}
/* line 56, ../sass/modules/_box.scss */
.building .right {
  -webkit-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -o-transform: translate3d(150px, 0, 0) rotateY(90deg);
  transform: translate3d(150px, 0, 0) rotateY(90deg);
}
/* line 13, ../sass/modules/_building.scss */
.building .top {
  -webkit-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -200px, 0) rotateX(90deg);
  transform: translate3d(0, -200px, 0) rotateX(90deg);
}
/* line 17, ../sass/modules/_building.scss */
.building .back {
  -webkit-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -moz-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -ms-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -o-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  transform: translate3d(0, -100px, -75px) rotateY(180deg);
}
/* line 18, ../sass/modules/_building.scss */
.building .front {
  -webkit-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -moz-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -ms-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -o-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  transform: translate3d(0, -100px, 75px) rotateY(0deg);
}
/* line 20, ../sass/modules/_building.scss */
.building .left {
  -webkit-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -moz-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -ms-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -o-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
}
/* line 21, ../sass/modules/_building.scss */
.building .right {
  -webkit-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -moz-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -ms-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -o-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  transform: translate3d(150px, -100px, 0) rotateY(90deg);
}
/* line 130, ../sass/modules/_building.scss */
.building .top {
  height: 100px;
  margin-top: -50px;
  -webkit-transform: translate3d(0, -200px, 25px) rotateX(90deg);
  -moz-transform: translate3d(0, -200px, 25px) rotateX(90deg);
  -ms-transform: translate3d(0, -200px, 25px) rotateX(90deg);
  -o-transform: translate3d(0, -200px, 25px) rotateX(90deg);
  transform: translate3d(0, -200px, 25px) rotateX(90deg);
}
/* line 138, ../sass/modules/_building.scss */
.building .short {
  width: 200px;
  height: 50px;
  margin-left: -100px;
  margin-top: 50px;
  -webkit-transform: translate3d(-50px, -200px, -50px) rotateX(90deg);
  -moz-transform: translate3d(-50px, -200px, -50px) rotateX(90deg);
  -ms-transform: translate3d(-50px, -200px, -50px) rotateX(90deg);
  -o-transform: translate3d(-50px, -200px, -50px) rotateX(90deg);
  transform: translate3d(-50px, -200px, -50px) rotateX(90deg);
}
/* line 148, ../sass/modules/_building.scss */
.building .back {
  width: 200px;
  margin-left: -50px;
}
/* line 153, ../sass/modules/_building.scss */
.building .left {
  width: 100px;
  margin-left: -50px;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}
/* line 33, ../sass/city-3d_02.scss */
.building .top {
  background-color: silver;
}
/* line 34, ../sass/city-3d_02.scss */
.building .front {
  background-color: #909090;
}
/* line 35, ../sass/city-3d_02.scss */
.building .right {
  background-color: #606060;
}
/* line 36, ../sass/city-3d_02.scss */
.building .back {
  background-color: #404040;
}
/* line 37, ../sass/city-3d_02.scss */
.building .left {
  background-color: #202020;
}
/* line 38, ../sass/city-3d_02.scss */
.building .bottom {
  background-color: black;
}
/* line 61, ../sass/city-3d_02.scss */
.building .short {
  background-color: red;
}
