/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Creates a box centered at (0, 0, 0) with dimension
 * $width, $height, and $depth.
 *
 * Each box consists of six elements with the generic 'face' class.
 * Each element also has a class for a specific direction:
 *
 *    top, bottom,
 *    front, back,
 *    left, right
 *
 *  e.g., .face.top
 */
/* line 11, ../sass/city-3d.scss */
html, body {
  height: 100%;
}

/* line 15, ../sass/city-3d.scss */
.scene, .container {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: center top;
  -moz-perspective-origin: center top;
  -ms-perspective-origin: center top;
  -o-perspective-origin: center top;
  perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 27, ../sass/city-3d.scss */
.container * {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
/* line 32, ../sass/city-3d.scss */
.container .rotateX:active ~ .building-test {
  -webkit-transform: rotateX(-360deg);
  -moz-transform: rotateX(-360deg);
  -ms-transform: rotateX(-360deg);
  -o-transform: rotateX(-360deg);
  transform: rotateX(-360deg);
}
/* line 38, ../sass/city-3d.scss */
.container .rotateY:active ~ .building-test {
  -webkit-transform: rotateY(-360deg);
  -moz-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  -o-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}

/* line 199, ../sass/city-3d.scss */
.building-test {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 21, ../sass/modules/_box.scss */
.building-test .face {
  position: absolute;
}
/* line 25, ../sass/modules/_box.scss */
.building-test .top, .building-test .bottom {
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
}
/* line 33, ../sass/modules/_box.scss */
.building-test .top {
  -webkit-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -100px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -100px, 0) rotateX(90deg);
  transform: translate3d(0, -100px, 0) rotateX(90deg);
}
/* line 34, ../sass/modules/_box.scss */
.building-test .bottom {
  -webkit-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  -o-transform: translate3d(0, 100px, 0) rotateX(-90deg);
  transform: translate3d(0, 100px, 0) rotateX(-90deg);
}
/* line 36, ../sass/modules/_box.scss */
.building-test .back, .building-test .front {
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
}
/* line 44, ../sass/modules/_box.scss */
.building-test .back {
  -webkit-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -moz-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -ms-transform: translate3d(0, 0, -75px) rotateY(180deg);
  -o-transform: translate3d(0, 0, -75px) rotateY(180deg);
  transform: translate3d(0, 0, -75px) rotateY(180deg);
}
/* line 45, ../sass/modules/_box.scss */
.building-test .front {
  -webkit-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -moz-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -ms-transform: translate3d(0, 0, 75px) rotateY(0deg);
  -o-transform: translate3d(0, 0, 75px) rotateY(0deg);
  transform: translate3d(0, 0, 75px) rotateY(0deg);
}
/* line 47, ../sass/modules/_box.scss */
.building-test .left, .building-test .right {
  width: 150px;
  height: 200px;
  margin-left: -75px;
  margin-top: -100px;
}
/* line 55, ../sass/modules/_box.scss */
.building-test .left {
  -webkit-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -moz-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  -o-transform: translate3d(-150px, 0, 0) rotateY(-90deg);
  transform: translate3d(-150px, 0, 0) rotateY(-90deg);
}
/* line 56, ../sass/modules/_box.scss */
.building-test .right {
  -webkit-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(150px, 0, 0) rotateY(90deg);
  -o-transform: translate3d(150px, 0, 0) rotateY(90deg);
  transform: translate3d(150px, 0, 0) rotateY(90deg);
}
/* line 179, ../sass/city-3d.scss */
.building-test .top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 180, ../sass/city-3d.scss */
.building-test .front {
  background-color: rgba(144, 144, 144, 0.75);
}
/* line 181, ../sass/city-3d.scss */
.building-test .right {
  background-color: rgba(96, 96, 96, 0.75);
}
/* line 182, ../sass/city-3d.scss */
.building-test .back {
  background-color: rgba(64, 64, 64, 0.75);
}
/* line 183, ../sass/city-3d.scss */
.building-test .left {
  background-color: rgba(32, 32, 32, 0.75);
}
/* line 184, ../sass/city-3d.scss */
.building-test .bottom {
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 207, ../sass/city-3d.scss */
.building-test:hover {
  -webkit-transform: rotate3d(1, 1, 1, 360deg);
  -moz-transform: rotate3d(1, 1, 1, 360deg);
  -ms-transform: rotate3d(1, 1, 1, 360deg);
  -o-transform: rotate3d(1, 1, 1, 360deg);
  transform: rotate3d(1, 1, 1, 360deg);
}
/* line 211, ../sass/city-3d.scss */
.building-test .face {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 216, ../sass/city-3d.scss */
.building-test .top:after {
  content: "top";
}
/* line 217, ../sass/city-3d.scss */
.building-test .bottom:after {
  content: "bottom";
}
/* line 218, ../sass/city-3d.scss */
.building-test .back:after {
  content: "back";
}
/* line 219, ../sass/city-3d.scss */
.building-test .front:after {
  content: "front";
}
/* line 220, ../sass/city-3d.scss */
.building-test .left:after {
  content: "left";
}
/* line 221, ../sass/city-3d.scss */
.building-test .right:after {
  content: "right";
}

/* line 224, ../sass/city-3d.scss */
.buildings {
  -webkit-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(-60deg);
  -moz-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(-60deg);
  -ms-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(-60deg);
  -o-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(-60deg);
  transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(-60deg);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
  margin-bottom: -256px;
}
/* line 179, ../sass/city-3d.scss */
.buildings .top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 180, ../sass/city-3d.scss */
.buildings .front {
  background-color: rgba(144, 144, 144, 0.75);
}
/* line 181, ../sass/city-3d.scss */
.buildings .right {
  background-color: rgba(96, 96, 96, 0.75);
}
/* line 182, ../sass/city-3d.scss */
.buildings .back {
  background-color: rgba(64, 64, 64, 0.75);
}
/* line 183, ../sass/city-3d.scss */
.buildings .left {
  background-color: rgba(32, 32, 32, 0.75);
}
/* line 184, ../sass/city-3d.scss */
.buildings .bottom {
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 232, ../sass/city-3d.scss */
.buildings:hover {
  -webkit-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(60deg);
  -moz-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(60deg);
  -ms-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(60deg);
  -o-transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(60deg);
  transform: translate3d(25%, 0, 0) rotateX(-10deg) rotateY(60deg);
}
/* line 236, ../sass/city-3d.scss */
.buildings .building {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}
/* line 21, ../sass/modules/_box.scss */
.buildings .building .face {
  position: absolute;
}
/* line 25, ../sass/modules/_box.scss */
.buildings .building .top, .buildings .building .bottom {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
}
/* line 33, ../sass/modules/_box.scss */
.buildings .building .top {
  -webkit-transform: translate3d(0, -25px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -25px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -25px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -25px, 0) rotateX(90deg);
  transform: translate3d(0, -25px, 0) rotateX(90deg);
}
/* line 34, ../sass/modules/_box.scss */
.buildings .building .bottom {
  -webkit-transform: translate3d(0, 25px, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 25px, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 25px, 0) rotateX(-90deg);
  -o-transform: translate3d(0, 25px, 0) rotateX(-90deg);
  transform: translate3d(0, 25px, 0) rotateX(-90deg);
}
/* line 36, ../sass/modules/_box.scss */
.buildings .building .back, .buildings .building .front {
  width: 30px;
  height: 50px;
  margin-left: -15px;
  margin-top: -25px;
}
/* line 44, ../sass/modules/_box.scss */
.buildings .building .back {
  -webkit-transform: translate3d(0, 0, -15px) rotateY(180deg);
  -moz-transform: translate3d(0, 0, -15px) rotateY(180deg);
  -ms-transform: translate3d(0, 0, -15px) rotateY(180deg);
  -o-transform: translate3d(0, 0, -15px) rotateY(180deg);
  transform: translate3d(0, 0, -15px) rotateY(180deg);
}
/* line 45, ../sass/modules/_box.scss */
.buildings .building .front {
  -webkit-transform: translate3d(0, 0, 15px) rotateY(0deg);
  -moz-transform: translate3d(0, 0, 15px) rotateY(0deg);
  -ms-transform: translate3d(0, 0, 15px) rotateY(0deg);
  -o-transform: translate3d(0, 0, 15px) rotateY(0deg);
  transform: translate3d(0, 0, 15px) rotateY(0deg);
}
/* line 47, ../sass/modules/_box.scss */
.buildings .building .left, .buildings .building .right {
  width: 30px;
  height: 50px;
  margin-left: -15px;
  margin-top: -25px;
}
/* line 55, ../sass/modules/_box.scss */
.buildings .building .left {
  -webkit-transform: translate3d(-15px, 0, 0) rotateY(-90deg);
  -moz-transform: translate3d(-15px, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-15px, 0, 0) rotateY(-90deg);
  -o-transform: translate3d(-15px, 0, 0) rotateY(-90deg);
  transform: translate3d(-15px, 0, 0) rotateY(-90deg);
}
/* line 56, ../sass/modules/_box.scss */
.buildings .building .right {
  -webkit-transform: translate3d(15px, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(15px, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(15px, 0, 0) rotateY(90deg);
  -o-transform: translate3d(15px, 0, 0) rotateY(90deg);
  transform: translate3d(15px, 0, 0) rotateY(90deg);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(1) {
  -webkit-transform: translate3d(0px, 0, 0px);
  -moz-transform: translate3d(0px, 0, 0px);
  -ms-transform: translate3d(0px, 0, 0px);
  -o-transform: translate3d(0px, 0, 0px);
  transform: translate3d(0px, 0, 0px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(2) {
  -webkit-transform: translate3d(0px, 0, 60px);
  -moz-transform: translate3d(0px, 0, 60px);
  -ms-transform: translate3d(0px, 0, 60px);
  -o-transform: translate3d(0px, 0, 60px);
  transform: translate3d(0px, 0, 60px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(3) {
  -webkit-transform: translate3d(0px, 0, 120px);
  -moz-transform: translate3d(0px, 0, 120px);
  -ms-transform: translate3d(0px, 0, 120px);
  -o-transform: translate3d(0px, 0, 120px);
  transform: translate3d(0px, 0, 120px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(4) {
  -webkit-transform: translate3d(0px, 0, 180px);
  -moz-transform: translate3d(0px, 0, 180px);
  -ms-transform: translate3d(0px, 0, 180px);
  -o-transform: translate3d(0px, 0, 180px);
  transform: translate3d(0px, 0, 180px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(5) {
  -webkit-transform: translate3d(60px, 0, 0px);
  -moz-transform: translate3d(60px, 0, 0px);
  -ms-transform: translate3d(60px, 0, 0px);
  -o-transform: translate3d(60px, 0, 0px);
  transform: translate3d(60px, 0, 0px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(6) {
  -webkit-transform: translate3d(60px, 0, 60px);
  -moz-transform: translate3d(60px, 0, 60px);
  -ms-transform: translate3d(60px, 0, 60px);
  -o-transform: translate3d(60px, 0, 60px);
  transform: translate3d(60px, 0, 60px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(7) {
  -webkit-transform: translate3d(60px, 0, 120px);
  -moz-transform: translate3d(60px, 0, 120px);
  -ms-transform: translate3d(60px, 0, 120px);
  -o-transform: translate3d(60px, 0, 120px);
  transform: translate3d(60px, 0, 120px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(8) {
  -webkit-transform: translate3d(60px, 0, 180px);
  -moz-transform: translate3d(60px, 0, 180px);
  -ms-transform: translate3d(60px, 0, 180px);
  -o-transform: translate3d(60px, 0, 180px);
  transform: translate3d(60px, 0, 180px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(9) {
  -webkit-transform: translate3d(120px, 0, 0px);
  -moz-transform: translate3d(120px, 0, 0px);
  -ms-transform: translate3d(120px, 0, 0px);
  -o-transform: translate3d(120px, 0, 0px);
  transform: translate3d(120px, 0, 0px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(10) {
  -webkit-transform: translate3d(120px, 0, 60px);
  -moz-transform: translate3d(120px, 0, 60px);
  -ms-transform: translate3d(120px, 0, 60px);
  -o-transform: translate3d(120px, 0, 60px);
  transform: translate3d(120px, 0, 60px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(11) {
  -webkit-transform: translate3d(120px, 0, 120px);
  -moz-transform: translate3d(120px, 0, 120px);
  -ms-transform: translate3d(120px, 0, 120px);
  -o-transform: translate3d(120px, 0, 120px);
  transform: translate3d(120px, 0, 120px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(12) {
  -webkit-transform: translate3d(120px, 0, 180px);
  -moz-transform: translate3d(120px, 0, 180px);
  -ms-transform: translate3d(120px, 0, 180px);
  -o-transform: translate3d(120px, 0, 180px);
  transform: translate3d(120px, 0, 180px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(13) {
  -webkit-transform: translate3d(180px, 0, 0px);
  -moz-transform: translate3d(180px, 0, 0px);
  -ms-transform: translate3d(180px, 0, 0px);
  -o-transform: translate3d(180px, 0, 0px);
  transform: translate3d(180px, 0, 0px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(14) {
  -webkit-transform: translate3d(180px, 0, 60px);
  -moz-transform: translate3d(180px, 0, 60px);
  -ms-transform: translate3d(180px, 0, 60px);
  -o-transform: translate3d(180px, 0, 60px);
  transform: translate3d(180px, 0, 60px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(15) {
  -webkit-transform: translate3d(180px, 0, 120px);
  -moz-transform: translate3d(180px, 0, 120px);
  -ms-transform: translate3d(180px, 0, 120px);
  -o-transform: translate3d(180px, 0, 120px);
  transform: translate3d(180px, 0, 120px);
}
/* line 243, ../sass/city-3d.scss */
.buildings .building:nth-of-type(16) {
  -webkit-transform: translate3d(180px, 0, 180px);
  -moz-transform: translate3d(180px, 0, 180px);
  -ms-transform: translate3d(180px, 0, 180px);
  -o-transform: translate3d(180px, 0, 180px);
  transform: translate3d(180px, 0, 180px);
}
/* line 250, ../sass/city-3d.scss */
.buildings .ground {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  -webkit-transform: translate3d(100px, 30px, 100px);
  -moz-transform: translate3d(100px, 30px, 100px);
  -ms-transform: translate3d(100px, 30px, 100px);
  -o-transform: translate3d(100px, 30px, 100px);
  transform: translate3d(100px, 30px, 100px);
}
/* line 21, ../sass/modules/_box.scss */
.buildings .ground .face {
  position: absolute;
}
/* line 25, ../sass/modules/_box.scss */
.buildings .ground .top, .buildings .ground .bottom {
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
}
/* line 33, ../sass/modules/_box.scss */
.buildings .ground .top {
  -webkit-transform: translate3d(0, -4px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -4px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -4px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -4px, 0) rotateX(90deg);
  transform: translate3d(0, -4px, 0) rotateX(90deg);
}
/* line 34, ../sass/modules/_box.scss */
.buildings .ground .bottom {
  -webkit-transform: translate3d(0, 4px, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 4px, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 4px, 0) rotateX(-90deg);
  -o-transform: translate3d(0, 4px, 0) rotateX(-90deg);
  transform: translate3d(0, 4px, 0) rotateX(-90deg);
}
/* line 36, ../sass/modules/_box.scss */
.buildings .ground .back, .buildings .ground .front {
  width: 500px;
  height: 8px;
  margin-left: -250px;
  margin-top: -4px;
}
/* line 44, ../sass/modules/_box.scss */
.buildings .ground .back {
  -webkit-transform: translate3d(0, 0, -250px) rotateY(180deg);
  -moz-transform: translate3d(0, 0, -250px) rotateY(180deg);
  -ms-transform: translate3d(0, 0, -250px) rotateY(180deg);
  -o-transform: translate3d(0, 0, -250px) rotateY(180deg);
  transform: translate3d(0, 0, -250px) rotateY(180deg);
}
/* line 45, ../sass/modules/_box.scss */
.buildings .ground .front {
  -webkit-transform: translate3d(0, 0, 250px) rotateY(0deg);
  -moz-transform: translate3d(0, 0, 250px) rotateY(0deg);
  -ms-transform: translate3d(0, 0, 250px) rotateY(0deg);
  -o-transform: translate3d(0, 0, 250px) rotateY(0deg);
  transform: translate3d(0, 0, 250px) rotateY(0deg);
}
/* line 47, ../sass/modules/_box.scss */
.buildings .ground .left, .buildings .ground .right {
  width: 500px;
  height: 8px;
  margin-left: -250px;
  margin-top: -4px;
}
/* line 55, ../sass/modules/_box.scss */
.buildings .ground .left {
  -webkit-transform: translate3d(-250px, 0, 0) rotateY(-90deg);
  -moz-transform: translate3d(-250px, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-250px, 0, 0) rotateY(-90deg);
  -o-transform: translate3d(-250px, 0, 0) rotateY(-90deg);
  transform: translate3d(-250px, 0, 0) rotateY(-90deg);
}
/* line 56, ../sass/modules/_box.scss */
.buildings .ground .right {
  -webkit-transform: translate3d(250px, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(250px, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(250px, 0, 0) rotateY(90deg);
  -o-transform: translate3d(250px, 0, 0) rotateY(90deg);
  transform: translate3d(250px, 0, 0) rotateY(90deg);
}
/* line 255, ../sass/city-3d.scss */
.buildings .ground .top, .buildings .ground .bottom {
  background-color: #333;
}
/* line 259, ../sass/city-3d.scss */
.buildings .ground .back, .buildings .ground .front, .buildings .ground .left, .buildings .ground .right {
  background-color: #444;
}

/* line 179, ../sass/city-3d.scss */
.building-sans-bottom .top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 180, ../sass/city-3d.scss */
.building-sans-bottom .front {
  background-color: rgba(144, 144, 144, 0.75);
}
/* line 181, ../sass/city-3d.scss */
.building-sans-bottom .right {
  background-color: rgba(96, 96, 96, 0.75);
}
/* line 182, ../sass/city-3d.scss */
.building-sans-bottom .back {
  background-color: rgba(64, 64, 64, 0.75);
}
/* line 183, ../sass/city-3d.scss */
.building-sans-bottom .left {
  background-color: rgba(32, 32, 32, 0.75);
}
/* line 184, ../sass/city-3d.scss */
.building-sans-bottom .bottom {
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 268, ../sass/city-3d.scss */
.building-sans-bottom * {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 272, ../sass/city-3d.scss */
.building-sans-bottom .building {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(50%, 0, 0) rotateX(-10deg);
  -moz-transform: translate3d(50%, 0, 0) rotateX(-10deg);
  -ms-transform: translate3d(50%, 0, 0) rotateX(-10deg);
  -o-transform: translate3d(50%, 0, 0) rotateX(-10deg);
  transform: translate3d(50%, 0, 0) rotateX(-10deg);
}
/* line 51, ../sass/city-3d.scss */
.building-sans-bottom .building .face {
  position: absolute;
}
/* line 55, ../sass/city-3d.scss */
.building-sans-bottom .building .top {
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  -webkit-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -200px, 0) rotateX(90deg);
  transform: translate3d(0, -200px, 0) rotateX(90deg);
}
/* line 65, ../sass/city-3d.scss */
.building-sans-bottom .building .back, .building-sans-bottom .building .front {
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
}
/* line 73, ../sass/city-3d.scss */
.building-sans-bottom .building .back {
  -webkit-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -moz-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -ms-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -o-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  transform: translate3d(0, -100px, -75px) rotateY(180deg);
}
/* line 74, ../sass/city-3d.scss */
.building-sans-bottom .building .front {
  -webkit-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -moz-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -ms-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -o-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  transform: translate3d(0, -100px, 75px) rotateY(0deg);
}
/* line 76, ../sass/city-3d.scss */
.building-sans-bottom .building .left, .building-sans-bottom .building .right {
  width: 150px;
  height: 200px;
  margin-left: -75px;
  margin-top: -100px;
}
/* line 84, ../sass/city-3d.scss */
.building-sans-bottom .building .left {
  -webkit-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -moz-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -ms-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -o-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
}
/* line 85, ../sass/city-3d.scss */
.building-sans-bottom .building .right {
  -webkit-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -moz-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -ms-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -o-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  transform: translate3d(150px, -100px, 0) rotateY(90deg);
}
/* line 277, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(50%, 300px, 0) rotateX(-20deg) rotateY(0deg);
  -moz-transform: translate3d(50%, 300px, 0) rotateX(-20deg) rotateY(0deg);
  -ms-transform: translate3d(50%, 300px, 0) rotateX(-20deg) rotateY(0deg);
  -o-transform: translate3d(50%, 300px, 0) rotateX(-20deg) rotateY(0deg);
  transform: translate3d(50%, 300px, 0) rotateX(-20deg) rotateY(0deg);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}
/* line 51, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .face {
  position: absolute;
}
/* line 55, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .top {
  width: 300px;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  -webkit-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -200px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -200px, 0) rotateX(90deg);
  transform: translate3d(0, -200px, 0) rotateX(90deg);
}
/* line 65, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back, .building-sans-bottom .building-edged-roof .front {
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
}
/* line 73, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back {
  -webkit-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -moz-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -ms-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  -o-transform: translate3d(0, -100px, -75px) rotateY(180deg);
  transform: translate3d(0, -100px, -75px) rotateY(180deg);
}
/* line 74, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front {
  -webkit-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -moz-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -ms-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  -o-transform: translate3d(0, -100px, 75px) rotateY(0deg);
  transform: translate3d(0, -100px, 75px) rotateY(0deg);
}
/* line 76, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left, .building-sans-bottom .building-edged-roof .right {
  width: 150px;
  height: 200px;
  margin-left: -75px;
  margin-top: -100px;
}
/* line 84, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left {
  -webkit-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -moz-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -ms-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  -o-transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
  transform: translate3d(-150px, -100px, 0) rotateY(-90deg);
}
/* line 85, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right {
  -webkit-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -moz-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -ms-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  -o-transform: translate3d(150px, -100px, 0) rotateY(90deg);
  transform: translate3d(150px, -100px, 0) rotateY(90deg);
}
/* line 103, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .top {
  width: 270px;
  height: 120px;
  margin-left: -135px;
  margin-top: -60px;
  -webkit-transform: translate3d(0, -185px, 0) rotateX(90deg);
  -moz-transform: translate3d(0, -185px, 0) rotateX(90deg);
  -ms-transform: translate3d(0, -185px, 0) rotateX(90deg);
  -o-transform: translate3d(0, -185px, 0) rotateX(90deg);
  transform: translate3d(0, -185px, 0) rotateX(90deg);
}
/* line 119, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-top,
.building-sans-bottom .building-edged-roof .front-top {
  width: 300px;
  height: 15px;
  margin-left: -150px;
  margin-top: -7.5px;
}
/* line 127, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-top {
  -webkit-transform: translate3d(0, -200px, -67.5px) rotateX(90deg) rotateZ(180deg);
  -moz-transform: translate3d(0, -200px, -67.5px) rotateX(90deg) rotateZ(180deg);
  -ms-transform: translate3d(0, -200px, -67.5px) rotateX(90deg) rotateZ(180deg);
  -o-transform: translate3d(0, -200px, -67.5px) rotateX(90deg) rotateZ(180deg);
  transform: translate3d(0, -200px, -67.5px) rotateX(90deg) rotateZ(180deg);
}
/* line 128, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-top {
  -webkit-transform: translate3d(0, -200px, 67.5px) rotateX(90deg) rotateZ(0deg);
  -moz-transform: translate3d(0, -200px, 67.5px) rotateX(90deg) rotateZ(0deg);
  -ms-transform: translate3d(0, -200px, 67.5px) rotateX(90deg) rotateZ(0deg);
  -o-transform: translate3d(0, -200px, 67.5px) rotateX(90deg) rotateZ(0deg);
  transform: translate3d(0, -200px, 67.5px) rotateX(90deg) rotateZ(0deg);
}
/* line 131, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-top,
.building-sans-bottom .building-edged-roof .right-top {
  width: 120px;
  height: 15px;
  margin-left: -60px;
  margin-top: -7.5px;
}
/* line 139, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-top {
  -webkit-transform: translate3d(-142.5px, -200px, 0) rotateX(90deg) rotateZ(90deg);
  -moz-transform: translate3d(-142.5px, -200px, 0) rotateX(90deg) rotateZ(90deg);
  -ms-transform: translate3d(-142.5px, -200px, 0) rotateX(90deg) rotateZ(90deg);
  -o-transform: translate3d(-142.5px, -200px, 0) rotateX(90deg) rotateZ(90deg);
  transform: translate3d(-142.5px, -200px, 0) rotateX(90deg) rotateZ(90deg);
}
/* line 140, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-top {
  -webkit-transform: translate3d(142.5px, -200px, 0) rotateX(90deg) rotateZ(-90deg);
  -moz-transform: translate3d(142.5px, -200px, 0) rotateX(90deg) rotateZ(-90deg);
  -ms-transform: translate3d(142.5px, -200px, 0) rotateX(90deg) rotateZ(-90deg);
  -o-transform: translate3d(142.5px, -200px, 0) rotateX(90deg) rotateZ(-90deg);
  transform: translate3d(142.5px, -200px, 0) rotateX(90deg) rotateZ(-90deg);
}
/* line 147, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-interior,
.building-sans-bottom .building-edged-roof .front-interior {
  width: 270px;
  height: 15px;
  margin-left: -135px;
  margin-top: -7.5px;
}
/* line 155, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-interior {
  -webkit-transform: translate3d(0, -192.5px, -60px) rotateY(0deg);
  -moz-transform: translate3d(0, -192.5px, -60px) rotateY(0deg);
  -ms-transform: translate3d(0, -192.5px, -60px) rotateY(0deg);
  -o-transform: translate3d(0, -192.5px, -60px) rotateY(0deg);
  transform: translate3d(0, -192.5px, -60px) rotateY(0deg);
}
/* line 156, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-interior {
  -webkit-transform: translate3d(0, -192.5px, 60px) rotateY(180deg);
  -moz-transform: translate3d(0, -192.5px, 60px) rotateY(180deg);
  -ms-transform: translate3d(0, -192.5px, 60px) rotateY(180deg);
  -o-transform: translate3d(0, -192.5px, 60px) rotateY(180deg);
  transform: translate3d(0, -192.5px, 60px) rotateY(180deg);
}
/* line 159, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-interior,
.building-sans-bottom .building-edged-roof .right-interior {
  width: 120px;
  height: 15px;
  margin-left: -60px;
  margin-top: -7.5px;
}
/* line 167, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-interior {
  -webkit-transform: translate3d(-135px, -192.5px, 0) rotateY(90deg);
  -moz-transform: translate3d(-135px, -192.5px, 0) rotateY(90deg);
  -ms-transform: translate3d(-135px, -192.5px, 0) rotateY(90deg);
  -o-transform: translate3d(-135px, -192.5px, 0) rotateY(90deg);
  transform: translate3d(-135px, -192.5px, 0) rotateY(90deg);
}
/* line 168, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-interior {
  -webkit-transform: translate3d(135px, -192.5px, 0) rotateY(-90deg);
  -moz-transform: translate3d(135px, -192.5px, 0) rotateY(-90deg);
  -ms-transform: translate3d(135px, -192.5px, 0) rotateY(-90deg);
  -o-transform: translate3d(135px, -192.5px, 0) rotateY(-90deg);
  transform: translate3d(135px, -192.5px, 0) rotateY(-90deg);
}
/* line 282, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .face {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
/* line 287, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 288, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 289, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 290, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-top {
  background-color: rgba(192, 192, 192, 0.75);
}
/* line 292, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-top:after {
  content: "back-top";
}
/* line 293, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-top:after {
  content: "front-top";
}
/* line 294, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-top:after {
  content: "left-top";
}
/* line 295, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-top:after {
  content: "right-top";
}
/* line 297, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-interior {
  background-color: rgba(144, 144, 144, 0.75);
}
/* line 298, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-interior {
  background-color: rgba(64, 64, 64, 0.75);
}
/* line 299, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-interior {
  background-color: rgba(96, 96, 96, 0.75);
}
/* line 300, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-interior {
  background-color: rgba(32, 32, 32, 0.75);
}
/* line 302, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .back-interior:after {
  content: "back-inter";
}
/* line 303, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .front-interior:after {
  content: "front-inter";
}
/* line 304, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .left-interior:after {
  content: "left-inter";
}
/* line 305, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof .right-interior:after {
  content: "right-inter";
}
/* line 307, ../sass/city-3d.scss */
.building-sans-bottom .building-edged-roof:hover {
  -webkit-transform: translate3d(50%, 300px, 0) rotateX(-60deg) rotateY(180deg);
  -moz-transform: translate3d(50%, 300px, 0) rotateX(-60deg) rotateY(180deg);
  -ms-transform: translate3d(50%, 300px, 0) rotateX(-60deg) rotateY(180deg);
  -o-transform: translate3d(50%, 300px, 0) rotateX(-60deg) rotateY(180deg);
  transform: translate3d(50%, 300px, 0) rotateX(-60deg) rotateY(180deg);
}
