/* line 5, ../sass/hilbert-curve.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/hilbert-curve.scss */
html, body {
  height: 100%;
}

/* line 13, ../sass/hilbert-curve.scss */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 18, ../sass/hilbert-curve.scss */
.section {
  float: left;
  width: 450px;
  height: 450px;
  margin: 10px;
}

/* line 25, ../sass/hilbert-curve.scss */
.segment {
  background-color: black;
  height: 2px;
}
/* line 29, ../sass/hilbert-curve.scss */
.segment:first-of-type {
  background-color: red;
}
/* line 33, ../sass/hilbert-curve.scss */
.segment:last-of-type {
  background-color: blue;
}
/* line 37, ../sass/hilbert-curve.scss */
.segment:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  background-color: black;
}

/* line 48, ../sass/hilbert-curve.scss */
form {
  width: 315px;
}

/* line 52, ../sass/hilbert-curve.scss */
.value {
  float: right;
}
