/* line 3, ../sass/hilbert-curve.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/hilbert-curve.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/hilbert-curve.scss */
body {
  margin: 0;
}

/* line 15, ../sass/hilbert-curve.scss */
.section {
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/hilbert-curve.scss */
.segment {
  background-color: black;
  height: 2px;
}
/* line 24, ../sass/hilbert-curve.scss */
.segment:first-of-type {
  background-color: red;
}
/* line 28, ../sass/hilbert-curve.scss */
.segment:last-of-type {
  background-color: blue;
}
/* line 32, ../sass/hilbert-curve.scss */
.segment:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  background-color: black;
}
