/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/loading-animations.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/loading-animations.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/loading-animations.scss */
.animation {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 37, ../sass/loading-animations.scss */
.counter {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  color: white;
  font-size: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: center;
}

@-webkit-keyframes forward-rotation {
  /* line 61, ../sass/loading-animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 62, ../sass/loading-animations.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes forward-rotation {
  /* line 61, ../sass/loading-animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 62, ../sass/loading-animations.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes backward-rotation {
  /* line 66, ../sass/loading-animations.scss */
  0% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 67, ../sass/loading-animations.scss */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes backward-rotation {
  /* line 66, ../sass/loading-animations.scss */
  0% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  /* line 67, ../sass/loading-animations.scss */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 72, ../sass/loading-animations.scss */
.animation#animation-00 {
  background-color: #222;
}
/* line 75, ../sass/loading-animations.scss */
.animation#animation-00 .circle {
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
}
/* line 82, ../sass/loading-animations.scss */
.animation#animation-00 .circle#inner {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  border-radius: 50%;
  border-left: 2px solid #f43;
}
/* line 87, ../sass/loading-animations.scss */
.animation#animation-00 .circle#outer {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -150px;
  border-radius: 50%;
  border-left: 2px solid #fff;
}
/* line 93, ../sass/loading-animations.scss */
.animation#animation-00:hover .circle#inner {
  -webkit-animation: forward-rotation 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: forward-rotation 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
/* line 97, ../sass/loading-animations.scss */
.animation#animation-00:hover .circle#outer {
  -webkit-animation: backward-rotation 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: backward-rotation 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

/* line 129, ../sass/loading-animations.scss */
.animation#animation-01 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  min-height: 600px;
  background-color: #333;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: center center;
  -moz-perspective-origin: center center;
  -ms-perspective-origin: center center;
  -o-perspective-origin: center center;
  perspective-origin: center center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(1) {
  -webkit-transition-duration: 1.17s;
  -moz-transition-duration: 1.17s;
  -o-transition-duration: 1.17s;
  transition-duration: 1.17s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(1):after {
  content: "Messages";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(2) {
  -webkit-transition-duration: 0.97s;
  -moz-transition-duration: 0.97s;
  -o-transition-duration: 0.97s;
  transition-duration: 0.97s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(2):after {
  content: "Calendar";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(3) {
  -webkit-transition-duration: 0.83s;
  -moz-transition-duration: 0.83s;
  -o-transition-duration: 0.83s;
  transition-duration: 0.83s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(3):after {
  content: "Photos";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(4) {
  -webkit-transition-duration: 1.03s;
  -moz-transition-duration: 1.03s;
  -o-transition-duration: 1.03s;
  transition-duration: 1.03s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(1) .box:nth-of-type(4):after {
  content: "Camera";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(1) {
  -webkit-transition-duration: 1.02s;
  -moz-transition-duration: 1.02s;
  -o-transition-duration: 1.02s;
  transition-duration: 1.02s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(1):after {
  content: "Weather";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(2) {
  -webkit-transition-duration: 0.82s;
  -moz-transition-duration: 0.82s;
  -o-transition-duration: 0.82s;
  transition-duration: 0.82s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(2):after {
  content: "Clock";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(3) {
  -webkit-transition-duration: 0.68s;
  -moz-transition-duration: 0.68s;
  -o-transition-duration: 0.68s;
  transition-duration: 0.68s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(3):after {
  content: "Maps";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(4) {
  -webkit-transition-duration: 0.88s;
  -moz-transition-duration: 0.88s;
  -o-transition-duration: 0.88s;
  transition-duration: 0.88s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(2) .box:nth-of-type(4):after {
  content: "Video";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(1) {
  -webkit-transition-duration: 0.87s;
  -moz-transition-duration: 0.87s;
  -o-transition-duration: 0.87s;
  transition-duration: 0.87s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(1):after {
  content: "Notes";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(2) {
  -webkit-transition-duration: 0.67s;
  -moz-transition-duration: 0.67s;
  -o-transition-duration: 0.67s;
  transition-duration: 0.67s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(2):after {
  content: "Reminders";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(3) {
  -webkit-transition-duration: 0.53s;
  -moz-transition-duration: 0.53s;
  -o-transition-duration: 0.53s;
  transition-duration: 0.53s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(3):after {
  content: "Stocks";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(4) {
  -webkit-transition-duration: 0.73s;
  -moz-transition-duration: 0.73s;
  -o-transition-duration: 0.73s;
  transition-duration: 0.73s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(3) .box:nth-of-type(4):after {
  content: "Game Center";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(1) {
  -webkit-transition-duration: 1.02s;
  -moz-transition-duration: 1.02s;
  -o-transition-duration: 1.02s;
  transition-duration: 1.02s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(1):after {
  content: "Newsstand";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(2) {
  -webkit-transition-duration: 0.82s;
  -moz-transition-duration: 0.82s;
  -o-transition-duration: 0.82s;
  transition-duration: 0.82s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(2):after {
  content: "iTunes Store";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(3) {
  -webkit-transition-duration: 0.68s;
  -moz-transition-duration: 0.68s;
  -o-transition-duration: 0.68s;
  transition-duration: 0.68s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(3):after {
  content: "App Store";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(4) {
  -webkit-transition-duration: 0.88s;
  -moz-transition-duration: 0.88s;
  -o-transition-duration: 0.88s;
  transition-duration: 0.88s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(4) .box:nth-of-type(4):after {
  content: "Passbook";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(1) {
  -webkit-transition-duration: 1.17s;
  -moz-transition-duration: 1.17s;
  -o-transition-duration: 1.17s;
  transition-duration: 1.17s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(1):after {
  content: "Compass";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(2) {
  -webkit-transition-duration: 0.97s;
  -moz-transition-duration: 0.97s;
  -o-transition-duration: 0.97s;
  transition-duration: 0.97s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(2):after {
  content: "Settings";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(3) {
  -webkit-transition-duration: 0.83s;
  -moz-transition-duration: 0.83s;
  -o-transition-duration: 0.83s;
  transition-duration: 0.83s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(3):after {
  content: "Safari";
}
/* line 151, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(4) {
  -webkit-transition-duration: 1.03s;
  -moz-transition-duration: 1.03s;
  -o-transition-duration: 1.03s;
  transition-duration: 1.03s;
}
/* line 154, ../sass/loading-animations.scss */
.animation#animation-01 .row:nth-of-type(5) .box:nth-of-type(4):after {
  content: "Music";
}
/* line 162, ../sass/loading-animations.scss */
.animation#animation-01 .row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 165, ../sass/loading-animations.scss */
.animation#animation-01 .row .box {
  background-color: #fff;
  border-radius: 13px;
  width: 60px;
  height: 60px;
  margin: 8px;
  margin-bottom: 20px;
  -webkit-transform: translate3d(0, 0, 1000px);
  -moz-transform: translate3d(0, 0, 1000px);
  -ms-transform: translate3d(0, 0, 1000px);
  -o-transform: translate3d(0, 0, 1000px);
  transform: translate3d(0, 0, 1000px);
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
}
/* line 176, ../sass/loading-animations.scss */
.animation#animation-01 .row .box:after {
  position: absolute;
  top: 100%;
  width: 200%;
  margin-left: -50%;
  text-align: center;
  margin-top: 0.4em;
}
/* line 189, ../sass/loading-animations.scss */
.animation#animation-01:hover .row .box {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 196, ../sass/loading-animations.scss */
.animation#animation-02 {
  background-color: #333;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 207, ../sass/loading-animations.scss */
.animation#animation-02 * {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 211, ../sass/loading-animations.scss */
.animation#animation-02 svg {
  width: 304px;
  height: 304px;
}
/* line 215, ../sass/loading-animations.scss */
.animation#animation-02 svg path {
  -webkit-transform: translate(152px, 152px);
  -moz-transform: translate(152px, 152px);
  -ms-transform: translate(152px, 152px);
  -o-transform: translate(152px, 152px);
  transform: translate(152px, 152px);
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-dasharray: 942.4778px 942.4778px;
  stroke-dashoffset: 0;
}
/* line 226, ../sass/loading-animations.scss */
.animation#animation-02 svg:hover path {
  stroke-dashoffset: 942.4778px;
}
/* line 232, ../sass/loading-animations.scss */
.animation#animation-02 .circle#inner {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  border-left: 2px solid #f43;
}
/* line 243, ../sass/loading-animations.scss */
.animation#animation-02:hover .circle#inner {
  -webkit-animation: backward-rotation 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: backward-rotation 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
