/* line 12, ../sass/skyline.scss */
html, body {
  height: 100%;
}

/* line 16, ../sass/skyline.scss */
body {
  margin: 0;
}

/* line 20, ../sass/skyline.scss */
.skyline {
  height: 85%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaccdd), color-stop(100%, #ffccaa));
  background: -webkit-linear-gradient(#aaccdd, #ffccaa);
  background: -moz-linear-gradient(#aaccdd, #ffccaa);
  background: -o-linear-gradient(#aaccdd, #ffccaa);
  background: linear-gradient(#aaccdd, #ffccaa);
}

/* line 25, ../sass/skyline.scss */
.ground {
  height: 15%;
  background-color: #112;
  -webkit-box-shadow: -2px 0 5px #dd3333;
  -moz-box-shadow: -2px 0 5px #dd3333;
  box-shadow: -2px 0 5px #dd3333;
}

/* line 54, ../sass/skyline.scss */
.background .container {
  position: absolute;
  width: 400px;
  height: 300px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
}
/* line 57, ../sass/skyline.scss */
.background .container .building {
  background-color: #99aaaa;
}
/* line 46, ../sass/skyline.scss */
.background .container .building:nth-of-type(1) {
  width: 20px;
  height: 150px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.background .container .building:nth-of-type(2) {
  width: 20px;
  height: 200px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.background .container .building:nth-of-type(3) {
  width: 20px;
  height: 220px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.background .container .building:nth-of-type(4) {
  width: 20px;
  height: 250px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.background .container .building:nth-of-type(5) {
  width: 20px;
  height: 210px;
  margin-left: 0;
}

/* line 70, ../sass/skyline.scss */
.midground .container {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
}
/* line 73, ../sass/skyline.scss */
.midground .container .building {
  background-color: #223333;
}
/* line 46, ../sass/skyline.scss */
.midground .container .building:nth-of-type(1) {
  width: 30px;
  height: 125px;
  margin-left: 0;
}

/* line 82, ../sass/skyline.scss */
.foreground .container {
  position: absolute;
  width: 400px;
  height: 150px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
}
/* line 85, ../sass/skyline.scss */
.foreground .container .building {
  background-color: #111122;
}
/* line 46, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(1) {
  width: 20px;
  height: 25px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(2) {
  width: 25px;
  height: 35px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(3) {
  width: 30px;
  height: 27px;
  margin-left: 0;
}
/* line 46, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(4) {
  width: 25px;
  height: 25px;
  margin-left: 0;
}
