/* line 16, ../sass/skyline.scss */
html, body {
  height: 100%;
}

/* line 20, ../sass/skyline.scss */
body {
  margin: 0;
}

/* line 24, ../sass/skyline.scss */
.skyline {
  height: 85%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaccdd), color-stop(100%, #ffccaa));
  background: -webkit-linear-gradient(#aaccdd, #ffccaa);
  background: -moz-linear-gradient(#aaccdd, #ffccaa);
  background: -o-linear-gradient(#aaccdd, #ffccaa);
  background: linear-gradient(#aaccdd, #ffccaa);
}

/* line 29, ../sass/skyline.scss */
.ground {
  height: 15%;
  background-color: #112;
  -webkit-box-shadow: -2px 0 5px #dd3333;
  -moz-box-shadow: -2px 0 5px #dd3333;
  box-shadow: -2px 0 5px #dd3333;
}

/* line 37, ../sass/skyline.scss */
.noise {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.07;
}

/* line 125, ../sass/skyline.scss */
.clouds {
  position: absolute;
  bottom: 15%;
}
/* line 83, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(1) {
  position: absolute;
  overflow: hidden;
  left: 400px;
  bottom: 50px;
  width: 200px;
  height: 100px;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(1) .cloudlet:nth-of-type(1) {
  position: absolute;
  left: 50px;
  bottom: 15px;
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  margin-left: -40px;
  border-radius: 50%;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(1) .cloudlet:nth-of-type(2) {
  position: absolute;
  left: 80px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  margin-bottom: -50px;
  margin-left: -50px;
  border-radius: 50%;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(1) .cloudlet:nth-of-type(3) {
  position: absolute;
  left: 130px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  margin-bottom: -30px;
  margin-left: -30px;
  border-radius: 50%;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(1) .cloudlet:nth-of-type(4) {
  position: absolute;
  left: 170px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: -20px;
  margin-left: -20px;
  border-radius: 50%;
}
/* line 83, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(2) {
  position: absolute;
  overflow: hidden;
  left: 20px;
  bottom: 150px;
  width: 300px;
  height: 70px;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(2) .cloudlet:nth-of-type(1) {
  position: absolute;
  left: 40px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: -20px;
  margin-left: -20px;
  border-radius: 50%;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(2) .cloudlet:nth-of-type(2) {
  position: absolute;
  left: 80px;
  bottom: 10px;
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  margin-left: -40px;
  border-radius: 50%;
}
/* line 64, ../sass/skyline.scss */
.clouds .cloud:nth-of-type(2) .cloudlet:nth-of-type(3) {
  position: absolute;
  left: 120px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  margin-bottom: -30px;
  margin-left: -30px;
  border-radius: 50%;
}
/* line 130, ../sass/skyline.scss */
.clouds .cloud {
  opacity: 0.5;
}
/* line 133, ../sass/skyline.scss */
.clouds .cloud .cloudlet {
  background-color: white;
}

/* line 214, ../sass/skyline.scss */
.background .container {
  position: absolute;
  width: 400px;
  height: 300px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
  -webkit-perspective-origin: top;
  -moz-perspective-origin: top;
  -ms-perspective-origin: top;
  -o-perspective-origin: top;
  perspective-origin: top;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
/* line 220, ../sass/skyline.scss */
.background .container .building {
  background-color: #667777;
  background: -webkit-gradient(linear, 50% 0%, 50% 150, color-stop(0%, #667777), color-stop(100%, #536161));
  background: -webkit-linear-gradient(#667777, #536161 150px);
  background: -moz-linear-gradient(#667777, #536161 150px);
  background: -o-linear-gradient(#667777, #536161 150px);
  background: linear-gradient(#667777, #536161 150px);
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(1) {
  width: 8px;
  height: 50px;
  margin-left: 40px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(2) {
  width: 12px;
  height: 60px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(3) {
  width: 18px;
  height: 90px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(4) {
  width: 14px;
  height: 140px;
  margin-left: 10px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(5) {
  width: 16px;
  height: 230px;
  margin-left: 22px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(6) {
  width: 20px;
  height: 80px;
  margin-left: -1px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(7) {
  width: 10px;
  height: 110px;
  margin-left: 10px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(8) {
  width: 16px;
  height: 130px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(9) {
  width: 15px;
  height: 80px;
  margin-left: 15px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(10) {
  width: 2px;
  height: 120px;
  margin-left: 5px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(11) {
  width: 10px;
  height: 90px;
}
/* line 168, ../sass/skyline.scss */
.background .container .building:nth-of-type(12) {
  width: 15px;
  height: 50px;
}
/* line 232, ../sass/skyline.scss */
.background .container .building:nth-of-type(5) {
  -webkit-transform: rotate3d(1, 0, -0.07, 40deg);
  -moz-transform: rotate3d(1, 0, -0.07, 40deg);
  -ms-transform: rotate3d(1, 0, -0.07, 40deg);
  -o-transform: rotate3d(1, 0, -0.07, 40deg);
  transform: rotate3d(1, 0, -0.07, 40deg);
}
/* line 152, ../sass/skyline.scss */
.background .container .building:nth-of-type(5):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  bottom: 100%;
  left: 50%;
  margin-left: -1px;
  background-color: #667777;
}
/* line 238, ../sass/skyline.scss */
.background .container .building:nth-of-type(4),
.background .container .building:nth-of-type(8) {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 152, ../sass/skyline.scss */
.background .container .building:nth-of-type(4):after,
.background .container .building:nth-of-type(8):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  margin-left: -1px;
  background-color: #667777;
}

/* line 264, ../sass/skyline.scss */
.midground .container {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
  -webkit-perspective-origin: top;
  -moz-perspective-origin: top;
  -ms-perspective-origin: top;
  -o-perspective-origin: top;
  perspective-origin: top;
  -webkit-perspective: 750px;
  -moz-perspective: 750px;
  -ms-perspective: 750px;
  -o-perspective: 750px;
  perspective: 750px;
}
/* line 270, ../sass/skyline.scss */
.midground .container .building {
  background-color: #223333;
  border-top: 1px solid #ffccaa;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(1) {
  width: 20px;
  height: 48px;
  margin-left: 40px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(2) {
  width: 20px;
  height: 65px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(3) {
  width: 10px;
  height: 85px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(4) {
  width: 25px;
  height: 105px;
  margin-left: 8px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(5) {
  width: 18px;
  height: 65px;
  margin-left: 10px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(6) {
  width: 20px;
  height: 45px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(7) {
  width: 22px;
  height: 75px;
  margin-left: 20px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(8) {
  width: 15px;
  height: 65px;
  margin-left: -1px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(9) {
  width: 17px;
  height: 55px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(10) {
  width: 20px;
  height: 45px;
  margin-left: 5px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(11) {
  width: 20px;
  height: 35px;
  margin-left: -1px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(12) {
  width: 10px;
  height: 25px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(13) {
  width: 12px;
  height: 35px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(14) {
  width: 12px;
  height: 13px;
}
/* line 168, ../sass/skyline.scss */
.midground .container .building:nth-of-type(15) {
  width: 10px;
  height: 8px;
}
/* line 279, ../sass/skyline.scss */
.midground .container .building:nth-of-type(4),
.midground .container .building:nth-of-type(5),
.midground .container .building:nth-of-type(7) {
  border-left: 1px solid #ffccaa;
  -webkit-transform: rotate3d(1, 0, -0.1, 5deg);
  -moz-transform: rotate3d(1, 0, -0.1, 5deg);
  -ms-transform: rotate3d(1, 0, -0.1, 5deg);
  -o-transform: rotate3d(1, 0, -0.1, 5deg);
  transform: rotate3d(1, 0, -0.1, 5deg);
}
/* line 285, ../sass/skyline.scss */
.midground .container .building:nth-of-type(10),
.midground .container .building:nth-of-type(13) {
  border-left: 1px solid #ffccaa;
}

/* line 313, ../sass/skyline.scss */
.foreground .container {
  position: absolute;
  width: 400px;
  height: 150px;
  bottom: 15%;
  left: 100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: -2px;
}
/* line 317, ../sass/skyline.scss */
.foreground .container .building {
  background-color: #111122;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(1) {
  width: 10px;
  height: 10px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(2) {
  width: 15px;
  height: 15px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(3) {
  width: 17px;
  height: 30px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(4) {
  width: 15px;
  height: 25px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(5) {
  width: 25px;
  height: 35px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(6) {
  width: 24px;
  height: 30px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(7) {
  width: 15px;
  height: 15px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(8) {
  width: 20px;
  height: 45px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(9) {
  width: 30px;
  height: 25px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(10) {
  width: 22px;
  height: 30px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(11) {
  width: 22px;
  height: 12px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(12) {
  width: 12px;
  height: 18px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(13) {
  width: 12px;
  height: 30px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(14) {
  width: 22px;
  height: 10px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(15) {
  width: 22px;
  height: 15px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(16) {
  width: 20px;
  height: 9px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(17) {
  width: 8px;
  height: 16px;
}
/* line 168, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(18) {
  width: 12px;
  height: 7px;
}
/* line 323, ../sass/skyline.scss */
.foreground .container .building:nth-of-type(1) {
  border-left: 1px solid #ffccaa;
}
