/* line 9, ../sass/skyline.scss */
html, body {
  height: 100%;
}

/* line 13, ../sass/skyline.scss */
body {
  margin: 0;
}

/* line 17, ../sass/skyline.scss */
.skyline {
  height: 85%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaccdd), color-stop(100%, #ffccaa));
  background: -webkit-linear-gradient(#aaccdd, #ffccaa);
  background: -moz-linear-gradient(#aaccdd, #ffccaa);
  background: -o-linear-gradient(#aaccdd, #ffccaa);
  background: linear-gradient(#aaccdd, #ffccaa);
}

/* line 22, ../sass/skyline.scss */
.ground {
  height: 15%;
  background-color: #112;
  -webkit-box-shadow: -2px 0 5px #dd3333;
  -moz-box-shadow: -2px 0 5px #dd3333;
  box-shadow: -2px 0 5px #dd3333;
}

/* line 59, ../sass/skyline.scss */
.background .building {
  position: absolute;
  bottom: 15%;
}
/* line 64, ../sass/skyline.scss */
.background .building:nth-of-type(1) {
  left: 90px;
  width: 300px;
  height: 35px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 68, ../sass/skyline.scss */
.background .building:nth-of-type(2) {
  left: 100px;
  width: 15px;
  height: 50px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 72, ../sass/skyline.scss */
.background .building:nth-of-type(3) {
  left: 140px;
  width: 17px;
  height: 150px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 42, ../sass/skyline.scss */
.background .building:nth-of-type(3):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  left: 50%;
  bottom: 100%;
  margin-left: -1px;
  background-color: #99aaaa;
}
/* line 76, ../sass/skyline.scss */
.background .building:nth-of-type(4) {
  left: 160px;
  width: 20px;
  height: 100px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 80, ../sass/skyline.scss */
.background .building:nth-of-type(5) {
  left: 190px;
  width: 25px;
  height: 195px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 42, ../sass/skyline.scss */
.background .building:nth-of-type(5):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  left: 50%;
  bottom: 100%;
  margin-left: -1px;
  background-color: #99aaaa;
}
/* line 84, ../sass/skyline.scss */
.background .building:nth-of-type(6) {
  left: 220px;
  width: 40px;
  height: 85px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99aaaa), color-stop(100%, #8b9e9e));
  background: -webkit-linear-gradient(#99aaaa, #8b9e9e);
  background: -moz-linear-gradient(#99aaaa, #8b9e9e);
  background: -o-linear-gradient(#99aaaa, #8b9e9e);
  background: linear-gradient(#99aaaa, #8b9e9e);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 90, ../sass/skyline.scss */
.midground .building {
  position: absolute;
  bottom: 15%;
}
/* line 95, ../sass/skyline.scss */
.midground .building:nth-of-type(1) {
  left: 75px;
  width: 100px;
  height: 30px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #223333), color-stop(100%, #182424));
  background: -webkit-linear-gradient(#223333, #182424);
  background: -moz-linear-gradient(#223333, #182424);
  background: -o-linear-gradient(#223333, #182424);
  background: linear-gradient(#223333, #182424);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
