/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, ../sass/sherlock.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/sherlock.scss */
body {
  background-color: #334;
}

/* line 35, ../sass/sherlock.scss */
.container {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

/* line 42, ../sass/sherlock.scss */
.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-960px) rotateX(80deg) rotateZ(30deg);
  -moz-transform: translateZ(-960px) rotateX(80deg) rotateZ(30deg);
  -ms-transform: translateZ(-960px) rotateX(80deg) rotateZ(30deg);
  -o-transform: translateZ(-960px) rotateX(80deg) rotateZ(30deg);
  transform: translateZ(-960px) rotateX(80deg) rotateZ(30deg);
}
/* line 50, ../sass/sherlock.scss */
.phone .face {
  position: absolute;
}
/* line 54, ../sass/sherlock.scss */
.phone .face:hover ~ .text {
  opacity: 1;
  -webkit-transform: translate3d(-112px, 0, 320px) rotateX(-90deg);
  -moz-transform: translate3d(-112px, 0, 320px) rotateX(-90deg);
  -ms-transform: translate3d(-112px, 0, 320px) rotateX(-90deg);
  -o-transform: translate3d(-112px, 0, 320px) rotateX(-90deg);
  transform: translate3d(-112px, 0, 320px) rotateX(-90deg);
}
/* line 61, ../sass/sherlock.scss */
.phone .bottom {
  background-color: #111;
  width: 448.5px;
  height: 64.5px;
  margin-left: -224px;
  margin-top: -32px;
  -webkit-transform: translate3d(0, 480px, 0) rotateX(-90deg);
  -moz-transform: translate3d(0, 480px, 0) rotateX(-90deg);
  -ms-transform: translate3d(0, 480px, 0) rotateX(-90deg);
  -o-transform: translate3d(0, 480px, 0) rotateX(-90deg);
  transform: translate3d(0, 480px, 0) rotateX(-90deg);
}
/* line 73, ../sass/sherlock.scss */
.phone .front {
  background-color: #222;
  width: 448.5px;
  height: 960.5px;
  margin-left: -224px;
  margin-top: -480px;
  -webkit-transform: translate3d(0, 0, 32px);
  -moz-transform: translate3d(0, 0, 32px);
  -ms-transform: translate3d(0, 0, 32px);
  -o-transform: translate3d(0, 0, 32px);
  transform: translate3d(0, 0, 32px);
}
/* line 85, ../sass/sherlock.scss */
.phone .right {
  background-color: #000;
  width: 64.5px;
  height: 960.5px;
  margin-left: -32px;
  margin-top: -480px;
  -webkit-transform: translate3d(224px, 0, 0) rotateY(90deg);
  -moz-transform: translate3d(224px, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(224px, 0, 0) rotateY(90deg);
  -o-transform: translate3d(224px, 0, 0) rotateY(90deg);
  transform: translate3d(224px, 0, 0) rotateY(90deg);
}

/* line 98, ../sass/sherlock.scss */
.text {
  position: absolute;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6em;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: translate3d(-112px, 0, 128px) rotateX(-90deg);
  -moz-transform: translate3d(-112px, 0, 128px) rotateX(-90deg);
  -ms-transform: translate3d(-112px, 0, 128px) rotateX(-90deg);
  -o-transform: translate3d(-112px, 0, 128px) rotateX(-90deg);
  transform: translate3d(-112px, 0, 128px) rotateX(-90deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
